.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 29px;
  z-index: 100;
}

.navigation {
}

.container {
}

.nav {
  @extend %df;
  align-items: flex-end;
  @extend %jcsb;
  // .nav__logo

  &__logo {
    max-width: 200px;
  }

  // .nav__menu

  &__menu {
    position: relative;
    @extend %df;
    @extend %aic;
    margin-bottom: 5px;
    @include for-width(-laptop) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border: rem(10) solid $black;
      background-color: $white;
      height: 100vh;
      z-index: 999;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 15px;
      transform: scale(1.2);
      opacity: 0;
      transition: all .3s ease;
      pointer-events: none;
    }
    &-close {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      right: 0;
      width: rem(70);
      height: rem(70);
      background-color: $black;
      margin-left: auto;
      div {
        position: relative;
        width: rem(16);
        height: rem(16);
        pointer-events: none;
        span {
          position: absolute;
          top: rem(5);
          display: block;
          background-color: $white;
          width: rem(2);
          height: rem(20);
          &:first-child {
            top: 6px;
            left: 0;
            transform: rotate(45deg) translate(-50%, -50%);
          }
          &:last-child {
            left: 14px;
            transform: rotate(-45deg) translate(-50%, -50%);
          }
        }
      }
      @include for-width(+laptop) {
        display: none;
      }
    }
    &.active {
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
    }
  }

  // .nav__menu-item

  &__menu-item {
    margin-right: 38px;
    @include for-width(-laptop) {
      margin-right: 0;
      margin-bottom: rem(35);
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }

  // .nav__menu-item-link

  &__menu-item-link {
    @extend %menu;
    @include for-width(-laptop) {
      font-size: rem(36);
    }
    color: $black;
    span {
      pointer-events: none;
    }
  }
}
