.header-sect {
  padding-top: 342px;
  &:before {
    display: none;
  }
}
.header {
  max-width: 1010px;
  margin-left: auto;
		// .header__title

		&__title {
      @extend %h1-title;
      color: $black;
		}

		// .header__text

		&__text {
      @extend %subtitle;
      color: $black;
      text-align: right;
      padding-right: 137px;
      margin-top: 33px;
		}
}
