.company-sect {
  padding-top: 431px;
}

.container {
}

.company {

  // .company__wrap

  &__wrap {

    // .company__wrap_top

    &_top {
      @extend %df;
      @extend %aic;
      @extend %jcsb;
      margin-bottom: 120px;
    }
  }

  // .company__title

  &__title {
    @extend %h2-title;
    color: $black;
    min-width: 550px;
    max-width: 550px;
  }

  // .company__subtitle

  &__subtitle {
    @extend %subtitle-2;
    color: $black;
    padding-left: 20px;
  }

  // .company__wrapper

  &__wrapper {
    @extend %df;
    @extend %aic;
    @extend %fw;
    @extend %jcsb;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .company__logo

  &__logo {
    @extend %df;
    @extend %aic;
    @extend %jcc;

    &:hover {
      .icon {
        fill: $black !important;
      }

      .icon-svg {
        path {
          fill: $black;
        }
      }
    }

    .icon,
    .icon-svg {
      transition: all .5s ease;
      width: inherit;
      height: inherit;
    }

    &.grayscale {
      max-width: 80px;
      img {
        max-width: inherit;
        filter: grayscale(100%);
        opacity: .5;
      }
    }

    .icon-svg {
      path {
        transition: all .5s ease;
        fill: #B8860B;

        &.icon-svg-cta {
          fill: $banana;
        }
      }
    }

    // .company__logo_google

    &_google {
      width: 137px;
      height: 45px;
    }

    // .company__logo_bing

    &_bing {
      width: 111px;
      height: 45px;
    }

    // .company__logo_fb

    &_fb {
      width: 192px;
      height: 38px;
    }

    // .company__logo_linkedin

    &_linkedin {
      width: 151px;
      height: 40px;
    }

    // .company__logo_twitter

    &_twitter {
      width: 202px;
      height: 40px;
    }

    // .company__logo_insta

    &_insta {
      width: 191px;
      height: 45px;
    }

    // .company__logo_snapchat

    &_snapchat {
      width: 48px;
      height: 45px;
    }

    // .company__logo_mail-clip

    &_mail-clip {
      position: relative;
      width: 175px;
      height: 45px;

      &:hover {
        img {
          &:last-child {
            opacity: 1;
          }
        }
      }

      img {
        &:last-child {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all .5s ease;
        }
      }
    }

    // .company__logo_mandrill

    &_mandrill {
      width: 189px;
      height: 40px;
    }

    // .company__logo_mailgun

    &_mailgun {
      width: 145px;
      height: 45px;
    }

    // .company__logo_google-something

    &_google-something {
      width: 276px;
      height: 40px;
    }

    // .company__logo_js

    &_js {
      width: 85px;
      height: 45px;
    }

    // .company__logo_css

    &_css {
      width: 111px;
      height: 45px;
    }

    // .company__logo_html

    &_html {
      width: 134px;
      height: 45px;
    }

    // .company__logo_adobe

    &_adobe {
      width: 167px;
      height: 40px;
    }

    // .company__logo_angular

    &_angular {
      width: 166px;
      height: 45px;
    }

    // .company__logo_wp

    &_wp {
      width: 179.25px;
      height: 45px;
    }

    // .company__logo_laravel

    &_laravel {
      width: 169px;
      height: 45px;
    }

    // .company__logo_php

    &_php {
      width: 86.28px;
      height: 45px;
    }

    // .company__logo_jquery

    &_jquery {
      width: 177.19px;
      height: 40px;
    }

    // .company__logo_drupal

    &_drupal {
      width: 125.2px;
      height: 45px;
    }

    // .company__logo_shopify

    &_shopify {
      width: 127.33px;
      height: 45px;
    }

    // .company__logo_python

    &_python {
      width: 171px;
      height: 45px;
    }
  }
}

.icon {
}

.icon-google {
}

.soft-banana {
}

.icon-bing {
}

.icon-fb {
}

.icon-svg {
}

.icon-twitter {
}

.icon-insta {
}

.icon-snapchat {
}

.icon-mandrill {
}

.icon-mailgun {
}

.icon-google-something {
}

.icon-adobe {
}

.icon-wp {
}

.icon-laravel {
}

.icon-jquery {
}

.icon-drupal {
}

.icon-python {
}
