.contact-sect {
  padding-top: 235px;
}

.container {
}

.contact {
  @extend %df;
  @extend %jcsb;
  // .contact__wrap

  &__wrap {

    // .contact__wrap_left

    &_left {
      max-width: 489px;
    }

    // .contact__wrap_right

    &_right {
      position: relative;
      margin-top: -5px;
      max-width: 653px;
      height: 635px;
    }
  }

  // .contact__title

  &__title {
    @extend %h2-title;
    color: $black;
    margin-bottom: 34px;
  }

  // .contact__text

  &__text {
    @extend %subtitle-2;
    color: $black;
    padding-right: 32px;
    margin-bottom: 31px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  // .contact__king

  &__king {
    margin-top: 40px;
  }

  // .contact__king-name

  &__king-name {
    @extend %h3-title;
    color: $black;
    margin-bottom: 14px;
  }

  // .contact__king-position

  &__king-position {
    @extend %body_text_2;
    color: $black;
    margin-bottom: 23px;
  }

  // .contact__king-items

  &__king-items {
  }

  // .contact__king-item

  &__king-item {
    @extend %df;
    @extend %aic;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .contact__king-icon

  &__king-icon {
  }

  // .contact__king-link

  &__king-link {
    @extend %dib;
    // margin-left: 14px;
    @extend %mail-text;
    color: $black;
  }

  // .contact__form

  &__form {
    @extend .questions__item;
    position: relative;
    transform: none;
    opacity: 1;
    width: 635px;
    height: 100%;
    @extend %evt-all;
    padding: 0;
    position: relative;

    &.thanks {
      .contact__form-thanks {
        opacity: 1;
        @extend %evt-all;
      }
    }
  }

  // .contact__form-default

  &__form-default {
    padding: 55px 40px 0 39px;
    // display: none;
  }

  // .contact__form-title

  &__form-title {
    @extend %h3-title;
    color: $black;
    margin-bottom: 31px;
    // .contact__form-title_thanks

    &_thanks {
      text-align: center;
      margin-bottom: 0;
    }
  }

  // .contact__form-wrap

  &__form-wrap {
    margin-bottom: 29px;

    .contact__wrap-input {
      width: 100%;
    }

    // .contact__form-wrap_text

    &_text {
    }

    // .contact__form-wrap_tel

    &_tel {
    }

    // .contact__form-wrap_email

    &_email {
    }

    // .contact__form-wrap_textarea

    &_textarea {
    }
  }

  // .contact__wrap-input

  &__wrap-input {
    @extend %base-input;
  }

  // .contact__input

  &__input {
  }

  // .contact__input-label

  &__input-label {
  }

  // .contact__input-error

  &__input-error {
  }

  // .contact__textarea

  &__textarea {
  }

  // .contact__form-thanks

  &__form-thanks {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    width: 100%;
    height: 100%;
    padding: 0px 82px;
    opacity: 0;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    @extend %evt-none;
  }

  // .contact__form-thanks-wrapper

  &__form-thanks-wrapper {
  }

  // .contact__form-text

  &__form-text {
    @extend %subtitle-2;
    color: $black;
    text-align: center;
    margin: 17px 0;
  }

  &__btn {
    @extend %base-btn-BANANA-BG;
    margin: 0 auto;
  }
}

.icon {
}

.icon-mail {
}

.black {
}

.icon-link-in {
}
