.about-sect {

}

.about {
  @extend %df;
  @extend %jcsb;
  // .about__wrap

  &__wrap {

    // .about__wrap_left

    &_left {
      width: 540px;
      height: 1109px;
      margin-left: -21px;
      margin-top: -62px;
      @extend %evt-none;
    }

    // .about__wrap_right

    &_right {
      padding-top: 309px;
    }
  }

  // .about__title

  &__title {
    @extend %h2-title;
    color: $black;
  }

  // .about__wrap-text

  &__wrap-text {
    max-width: 540px;
    margin-top: 34px;
    margin-bottom: 35px;
  }

  // .about__text

  &__text {
    @extend %body_text_1;
    color: $black;
    margin-bottom: 27px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .about__btn

  &__btn {
    @extend %base-btn;
    span {
      pointer-events: none;
    }
  }
}
