.adv-sect {
  padding-top: 173px;
}
.container {
}
.adv {

		// .adv__wrap

		&__wrap {

			// .adv__wrap_top

			&_top {
        @extend %df;
        @extend %aic;
        @extend %jcsb;
			}

			// .adv__wrap_bot

			&_bot {
        padding-top: 121px;
        // display: none;
			}
		}

		// .adv__title

		&__title {
      @extend %h2-title;
      color: $black;
      min-width: 543px;
		}

		// .adv__text

		&__text {
      @extend %subtitle-2;
      color: $black;
      padding-left: 27px;
		}

		// .adv__items

		&__items {
      @extend %df;
      @extend %jcsb;
		}

		// .adv__itm

		&__itm {
      max-width: 350px;
      &:first-child {
        .adv__itm-text {
          padding-right: 20px;
        }
      }
		}

		// .adv__ico

		&__ico {
		}

		// .adv__content

		&__content {

		}

		// .adv__itm-title

		&__itm-title {
      @extend %h3-title;
      color: $black;
      margin-top: 13px;
      margin-bottom: 14px;
		}

		// .adv__itm-text

		&__itm-text {
      @extend %body_text_2;
      color: $black;
		}
}
