.service-sec {
  padding-top: 231px;
}
@mixin service_border($position: false) {
  @if $position {
    border-#{$position}: 10px solid $black;
  }
  @else {
    border: 10px solid $black;
  }
}
.service {

  // .service__wrap

  &__wrap {

    // .service__wrap_top

    &_top {
      @extend %df;
      @extend %aic;
      @extend %jcsb;
    }

    // .service__wrap_bot

    &_bot {
      padding-top: 119px;
    }
  }

  // .service__title

  &__title {
    @extend %h2-title;
    color: $black;
    min-width: 500px;
  }

  // .service__subtitle

  &__subtitle {
    @extend %subtitle-2;
    color: $black;
    padding-left: 70px;
  }

  // .service__item

  &__item {
    display: grid;
    grid-template-columns: repeat(2, rem(560));
    height: rem(285);
    @include for-width(-laptop) {
      height: rem(360);
      grid-template-columns: repeat(2, 1fr);
    }
    @include for-width(-tablet) {
      display: flex;
      flex-direction: column;
      height: auto;
      padding: 0;
    }
   }
  &__item-ico-name,
  &__item-icon,
  &__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    &_content, &_adverteren {
      .service__item {
        &-ico-name {
          @include service_border('right');
          @include for-width(-tablet) {
            @include service_border('left');
          }
        }
        &-content {
          order: -1;
          border-right: none;
          @include service_border('left');
          @include for-width(-tablet) {
            order: 0;
            @include service_border('right');
          }
        }
      }
    }
    &:not(:first-child) {
      margin-top: -10px;
    }
    &-ico-name {
      @include service_border();
      border-right: none;
      height: 100%;
      @include for-width(-tablet) {
        height: rem(290);
        @include service_border('right');
        border-bottom: 0;
      }
    }
    &-icon {
      width: rem(285);
      height: 100%;
      justify-content: center;
      background-color: $white;
      @include service_border('right');
      @include for-width(-laptop) {
        width: 100%;
        border-right: none;
      }
    }
    &-name {
      width: rem(285);
      @extend %h3-title;
      text-align: center;
      @include for-width(-laptop) {
        display: none;
      }
      &-tablet {
        @extend %h3-title;
        margin-bottom: rem(16);
        @include for-width(+laptop) {
          display: none;
        }
      }
    }
    &-content {
      //min-width: rem(580);
      width: 100%;
      height: 100%;
      @include service_border();
      @include for-width(-laptop) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 rem(20);
      }
      @include for-width(-tablet) {
        padding: rem(35) rem(25);
      }
    }
    &-text {
      @extend %body_text_2;
      max-width: rem(422);
      margin: 0 auto;
      @include for-width(-laptop) {
        font-size: rem(18);
      }
    }
  }

  //&__items {
  //  @extend %df;
  //  @extend %aic;
  //  // .service__items_top
  //
  //  &_top {
  //    @extend %jcsb;
  //  }
  //
  //  // .service__items_middle
  //
  //  &_middle {
  //    @extend %jcc;
  //  }
  //
  //  // .service__items_bot
  //
  //  &_bot {
  //    @extend %jcsb;
  //    margin-top: -10px;
  //  }
  //}

  // .service__item

  //&__item {
  //  position: relative;
  //  width: 380px;
  //  height: 380px;
  //  background-color: $banana;
  //  border: 10px solid $black;
  //  padding: 33px 10px 0 31px;
  //  transition: all .5s ease;
  //  cursor: pointer;
  //
  //  &:hover {
  //    background-color: $white;
  //  }
  //
  //  &:after,
  //  &:before {
  //    position: absolute;
  //    content: '';
  //    @extend %db;
  //    background-color: $black;
  //    width: 10px;
  //    @extend %evt-none;
  //  }
  //
  //  &:after {
  //    height: 520px;
  //    top: -80px;
  //    right: -191px;
  //    transform: rotate(-44deg);
  //  }
  //
  //  &:before {
  //    height: 520px;
  //    bottom: -80px;
  //    left: -191px;
  //    transform: rotate(44deg);
  //  }
  //
  //  // .service__item_website
  //
  //  &_website {
  //    &:before {
  //      height: 520px;
  //      bottom: -446px;
  //      left: 175px;
  //      transform: rotate(-46deg);
  //    }
  //  }
  //
  //  // .service__item_strategie
  //
  //  &_strategie {
  //    padding-top: 25px;
  //    padding-right: 20px;
  //
  //    &:after {
  //      top: auto;
  //      height: 520px;
  //      bottom: -446px;
  //      right: 175px;
  //      transform: rotate(46deg);
  //    }
  //  }
  //
  //  // .service__item_middle
  //
  //  &_middle {
  //    width: 370px;
  //    height: 370px;
  //    margin-top: -10px;
  //    padding: 0;
  //    @extend %df;
  //    @extend %aic;
  //    @extend %jcc;
  //    @extend %evt-none;
  //
  //    &:before {
  //      height: 515px;
  //      bottom: -83px;
  //      left: -195px;
  //      transform: rotate(46.2deg);
  //      // display: none;
  //    }
  //
  //    &:after {
  //      top: auto;
  //      height: 515px;
  //      bottom: -83px;
  //      right: -195px;
  //      transform: rotate(-46.2deg);
  //      // display: none;
  //    }
  //  }
  //
  //  // .service__item_content
  //
  //  &_content {
  //    padding-top: 26px;
  //    padding-right: 30px;
  //
  //    &:before {
  //      display: none;
  //    }
  //  }
  //
  //  // .service__item_adverteren
  //
  //  &_adverteren {
  //    padding-right: 20px;
  //
  //    &:after {
  //      display: none;
  //    }
  //  }
  //}

  // .service__itm-btn

  //&__itm-btn {
  //  position: absolute;
  //  top: -10px;
  //  right: -10px;
  //  @extend %df;
  //  @extend %aic;
  //  @extend %jcc;
  //  width: 70px;
  //  height: 70px;
  //  background-color: $black;
  //
  //  &:hover {
  //    span {
  //      transform: rotate(135deg);
  //    }
  //  }
  //
  //  span {
  //    position: relative;
  //    @extend %db;
  //    width: 21px;
  //    height: 21px;
  //    transition: all .5s ease;
  //
  //    &:before,
  //    &:after {
  //      position: absolute;
  //      content: '';
  //      @extend %db;
  //      width: 4px;
  //      height: 21px;
  //      top: 0;
  //      left: 8px;
  //      background-color: $banana;
  //    }
  //
  //    &:after {
  //      transform: rotate(90deg);
  //    }
  //  }
  //}

  // .service__itm-wrap

  //&__itm-wrap {
  //  @extend %df;
  //  align-items: flex-end;
  //  margin-bottom: 17px;
  //}

  // .service__itm-ico

  //&__itm-ico {
  //  margin-right: 19px;
  //}

  // .service__itm-title

  //&__itm-title {
  //  @extend %h3-title;
  //  color: $black;
  //}

  // .service__content

  &__content {
  }

  // .service__itm-text

  //&__itm-text {
  //  @extend %body_text_2;
  //  color: $black;
  //}

  // .service__middle-text

  //&__middle-text {
  //  @extend %h3-title;
  //  color: $black;
  //  max-width: 266px;
  //}
}
