.king-sect {
  padding-top: 231px;
}
.container {
}
.king {

		// .king__wrap

		&__wrap {

			// .king__wrap_top

			&_top {
        margin-bottom: 69px;
			}

			// .king__wrap_bot

			&_bot {
        position: relative;
        // z-index: 2;
			}
		}

		// .king__title

		&__title {
      @extend %h2-title;
      color: $black;
		}

		// .king__card

		&__card {
      @extend %df;
      @extend %jcsb;
      border: 10px solid $black;
      background-color: $white;
		}

		// .king__wrap-img

		&__wrap-img {
      width: 340px;
      height: 330px;
      overflow: hidden;
      border-right: 10px solid $black;
      background-color: $banana;
      img {
        max-width: 330px;
      }
		}

		// .king__content

		&__content {
      max-width: 750px;
      padding: 36px 30px 0 30px;
      background-color: $white;
		}

		// .king__text

		&__text {
      @extend %subtitle-2;
      color: $black;
		}

		// .king__form

		&__form {
      @extend %df;
      align-items: flex-end;
      @extend %jcsb;
      padding-right: 10px;
      margin-top: 35px;
		}

		// .king__wrap-input

		&__wrap-input {
      @extend %base-input;
		}

		// .king__input-label

		&__input-label {
      // @extend %body_text_2;
      // color: $black;
    }
    
    // .king__input

    &__input {
      // @extend %body_text_2;
      // color: $black;
    }

    // .king__input-error

    &__input-error {
      // display: none;
    }

		// .king__btn

		&__btn {
      @extend %base-btn-BANANA-BG;
		}
}
.k-submit {
}
