.projects-sect {
  padding-top: rem(251);
}

.svg-sect {
}

.container {
}

.projects {

  // .projects__wrap

  &__wrap {

    // .projects__wrap_title

    &_title {
      @extend %df;
      @extend %aic;
      @extend %jcsb;
    }

    // .projects__wrap_slider

    &_slider {
      margin-top: rem(114);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: rem(30);
      @include for-width(-laptop) {
        grid-template-columns: 1fr;
      }
      @include for-width(-tablet) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        grid-gap: 0;
        padding-top: rem(81);
      }
    }
  }

  // .projects__title

  &__title {
    @extend %h2-title;
    color: $black;
    min-width: rem(500);
  }

  // .projects__subtitle

  &__subtitle {
    @extend %subtitle-2;
    color: $black;
    padding-left: rem(70);
  }

  &__case {
    position: relative;
    display: flex;
    flex-direction: column;
    @include service_border();
    @include for-width(-laptop) {
      height: rem(545);
    }
    @include for-width(-tablet) {
      border: none;
      height: auto;
      margin-bottom: rem(48);
    }
    &:hover {
      .projects__case {
        &-overlay {
          top: rem(-20);
          left: rem(-20);
          opacity: 1;
          pointer-events: all;
          @include for-width(-laptop) {
            top: 0;
            left: rem(-10);
          }
          @include for-width(-tablet) {
            left: 0;
            top: 0;
          }
        }
      }
    }
    //height: rem(550);
    &-overlay {
      position: absolute;
      top: rem(0);
      left: rem(0);
      width: 100%;
      height: 100%;
      background-color: $white;
      @include service_border();
      opacity: 0;
      pointer-events: none;
      transition: all .5s ease;
      padding: rem(30);
      @include for-width(-laptop) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: none;
        border-bottom: none;
        max-width: rem(360);
      }
      @include for-width(-tablet) {
        position: relative;
        order: 2;
        top: auto;
        left: 0 !important;
        height: auto;
        opacity: 1;
        background-color: transparent;
        border: none;
        padding: 0;
        margin-top: rem(32);
        pointer-events: all;
      }
    }
    &-name {
      @extend %h3-title;
      @include for-width(-tablet) {
        font-size: rem(30);
      }
    }
    &-text {
      @extend %body_text_2;
      max-width: rem(442);
      margin-top: rem(20);
      margin-bottom: rem(50);
      @include for-width(-tablet) {
        font-size: rem(18);
      }
    }
    &-btn {
      @extend %base-btn-BANANA-BG;
      width: rem(160);
      span {
        pointer-events: none;
      }
      @include for-width(-tablet) {
        &:after {
          background-color: $white;
        }
      }
    }
    &-image {
      position: relative;
      z-index: -1;
      margin-bottom: rem(-10);
      overflow: hidden;
      @include for-width(-laptop) {
        width: 100%;
        height: 100%;
      }
      @include for-width(-tablet) {
        order: 1;
        @include service_border();
        border-width: rem(6);
        height: rem(233) !important;
      }
    }
  }
  &__over-close {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: rem(70);
    height: rem(70);
    background-color: $black;
    margin-left: auto;
    div {
      position: relative;
      width: rem(16);
      height: rem(16);
      pointer-events: none;
      span {
        position: absolute;
        top: rem(5);
        display: block;
        background-color: $white;
        width: rem(2);
        height: rem(20);
        &:first-child {
          top: 6px;
          left: 0;
          transform: rotate(45deg) translate(-50%, -50%);
        }
        &:last-child {
          left: 14px;
          transform: rotate(-45deg) translate(-50%, -50%);
        }
      }
    }
  }
  &__image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    @include service_border();
    z-index: 9999;
    overflow-y: scroll;
    transform: scale(1.5);
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
    &.active {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
    }
  }
  &__over-image {
    width: 100%;
    display: none;
    margin-top: rem(-70);
    &.active {
      display: block;
    }
    img {
      object-fit: cover;
    }
  }


  // .projects__slide-btns

  //&__slide-btns {
  //  position: absolute;
  //  left: 0;
  //  top: rem(74);
  //}
  //
  //// .projects__wrap-btns
  //
  //&__wrap-btns {
  //}
  //
  //// .projects__arr
  //
  //&__arr {
  //  @extend %slider-btn;
  //  // .projects__arr_left
  //
  //  &_left {
  //    @extend %slider-btn-BG-WHITE;
  //    margin-right: 16px;
  //  }
  //
  //  // .projects__arr_right
  //
  //  &_right {
  //    @extend %slider-btn-BG-BLACK;
  //  }
  //}
  //
  //// .projects__slider-progress
  //
  //&__slider-progress {
  //
  //}
  //
  //// .projects__progress
  //
  //&__progress {
  //  @extend %db;
  //  width: 100%;
  //  background-color: $soft_banana;
  //  height: 4px;
  //  margin-top: 29px;
  //  margin-bottom: 10px;
  //
  //  span {
  //    @extend %db;
  //    transition: all .5s ease;
  //    height: 100%;
  //    background-color: $black;
  //  }
  //}
  //
  //// .projects__number
  //
  //&__number {
  //  @extend %df;
  //  // justify-content: flex-end;
  //  // margin-bottom: 24px;
  //  span {
  //    @extend %h4-title;
  //    color: $black;
  //  }
  //}
  //
  //// .projects__slide
  //
  //&__slide {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  @extend %df;
  //  @extend %jcsb;
  //  align-items: flex-end;
  //  min-height: 776px;
  //  opacity: 0;
  //  transition: all .5s ease;
  //  @extend %evt-none;
  //
  //  &.active {
  //    opacity: 1;
  //    @extend %evt-all;
  //  }
  //}
  //
  //// .projects__wrapper
  //
  //&__wrapper {
  //  margin-bottom: 88px;
  //}
  //
  //// .projects__name
  //
  //&__name {
  //  @extend %h3-title;
  //  color: $black;
  //  margin-bottom: 35px;
  //}
  //
  //// .projects__wrapper-btns
  //
  //&__wrapper-btns {
  //  @extend %df;
  //}
  //
  //// .projects__btn-project
  //
  //&__btn-project {
  //  @extend %base-btn;
  //  width: 160px;
  //  margin-right: 30px;
  //}
  //
  //// .projects__btn-projecs-all
  //
  //&__btn-projecs-all {
  //  @extend %base-btn-BANANA-BG;
  //  width: 190px;
  //
  //  &:before {
  //    background-color: $banana;
  //  }
  //
  //  &:after {
  //    border: 4px solid $black;
  //  }
  //}
  //
  //// .projects__slider-img
  //
  //&__slider-img {
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //}
}

.q-btn-prev {
}

.icon {
}

.icon-arr-left {
}

.q-btn-next {
}

.icon-arr-right {
}

.q-current {
}

.q-last {
}
