.questions-sect {
  padding-top: 231px;
  // margin-top: 1325px;
}

// question Change animation
// transform: translate(-40px, -120px) rotate(-15deg);
.questions {

  // .questions__wrap

  &__wrap {

    // .questions__wrap_top

    &_top {
      @extend %df;
      align-items: flex-end;
      @extend %jcsb;
      margin-bottom: 120px;
    }

    // .questions__wrap_bot

    &_bot {
      position: relative;
    }
  }

  // .questions__title

  &__title {
    @extend %h2-title;
    color: $black;
    min-width: 500px;
  }

  // .questions__subtitle

  &__subtitle {
    @extend %subtitle-2;
    color: $black;
    padding-left: 70px;
  }

  // .questions__items

  &__items {
  }

  // .questions__item

  &__item {
    width: 100%;
    border: 10px solid $black;
    background-color: $white;
    min-height: 328px;
    padding: 40px 0 37px 40px;
    transform: translate(-40px, -120px) rotate(-15deg);
    // transform: translate(44px, 169px) rotate(15deg);
    opacity: 0;
    position: absolute;
    @extend %evt-none;
    z-index: 1;
    transition: opacity .3s linear .3s, transform .5s cubic-bezier(0.425, 0.520, 0.330, 1);
    top: 0;
    left: 0;

    &.hide {
      opacity: 0;
    }

    &.active {
      position: relative;
      transform: translate(0, 0) rotate(0deg);
      transition-delay: .2s;
      @extend %evt-all;
      z-index: 2;
      opacity: 1;
    }

    &_input {
      padding-bottom: 46px;
      @extend %df;
      @extend %fdc;
      @extend %jcsb;
      min-height: 260px;
    }

    &_thanks {
      @extend %df;
      @extend %fdc;
      @extend %aic;
      @extend %jcc;
      padding: 0;
    }
  }

  // .questions__item-title

  &__item-title, &__thanks-title {
    @extend %h3-title;
    color: $black;
    max-width: 800px;
  }

  &__thanks-text {
    @extend %subtitle-2;
    color: $black;
    text-align: center;
    max-width: 664px;
    margin: 17px auto;
  }

  &__thanks-btn {
    @extend %base-btn-BANANA-BG;
  }

  // .questions__checkboxes

  &__checkboxes {
    padding-left: 2px;
    margin-top: 35px;
  }

  // .questions__check-itm

  &__check-itm {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input-itm {
    @extend %base-input;
    width: 755px;
  }

  // .questions__itm-check

  &__itm-check {
    @extend %df;
    @extend %aic;
  }

  // .questions__itm-input

  &__itm-input {
    position: absolute;
    z-index: -99;
    opacity: 0;
    margin: 0 0 0 0;

    &:checked + .questions__itm-text:before {
      background-color: $black;
    }
  }

  // .questions__itm-text

  &__itm-text {
    @extend %body_text_1;
    color: $black;
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 15px;
      height: 15px;
      transition: all .5s ease;
      border: 2px solid $black;
      background-color: $white;
    }
  }

  // .questions__btns

  &__btns {
    position: absolute;
    right: 51px;
    bottom: 56px;
    z-index: 6;

    &.hide {
      opacity: 0;
      @extend %evt-none;
    }
  }

  // .questions__number

  &__number {
    @extend %df;
    justify-content: flex-end;
    margin-bottom: 24px;

    span {
      @extend %h4-title;
      color: $black;
    }
  }

  // .questions__wrap-btns

  &__wrap-btns {
    @extend %df;
  }


  // .questions__arr

  &__arr {
    @extend %slider-btn;
    // .questions__arr_left

    &_left {
      @extend %slider-btn-BG-WHITE;
      margin-right: 29px;
    }

    // .questions__arr_right

    &_right {
      @extend %slider-btn-BG-BLACK;
    }
  }
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
  transition: .2s;
}

.checkbox__text:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  transition: .2s;
}

.checkbox input:checked + .checkbox__text:before {
  background: #9FD468;
}

.checkbox input:checked + .checkbox__text:after {
  left: 26px;
}

.checkbox input:focus + .checkbox__text:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), 0 0 0 3px rgba(255, 255, 0, .7);
}