.way-sect {
  position: relative;
  margin: 247px 0 0;

  .way-bg-svg {
    position: absolute;
    top: 303px;
    left: 0;
    @extend %evt-none;
    &.desc {
      display: block;
    }
    &.mob {
      display: none;
    }
    @include for-width(-laptop) {
      top: 213px !important;
    }

  }
}

.way {

  // .way__wrap

  &__wrap {

    // .way__wrap_top

    &_top {
      @extend %df;
      align-items: flex-end;
      @extend %jcsb;
      margin-bottom: 117px;
    }

    // .way__wrap_overleg

    &_overleg {
      padding-left: 95px;
      margin-bottom: 148px;
      @include for-width(-desktop-sm) {
        margin-bottom: rem(59);
      }
    }

    // .way__wrap_plan

    &_plan {
      padding-right: 95px;
      margin-bottom: 171px;
    }

    // .way__wrap_kies

    &_kies {
      padding-left: 95px;
      margin-bottom: 148px;
    }

    // .way__wrap_start

    &_start {
      padding-right: 95px;
    }
  }

  // .way__title

  &__title {
    @extend %h2-title;
    color: $black;
    min-width: 440px;
  }

  // .way__subtitle

  &__subtitle {
    @extend %subtitle-2;
    color: $black;
    padding-left: 130px;
  }

  // .way__item

  &__item {

    // .way__item_overleg

    &_overleg {
    }

    // .way__item_plan

    &_plan, &_start {
      @extend %df;
      justify-content: flex-end;

      .way {
        &__wrap-img {
          justify-content: flex-end;
        }

        &__wrap-title {
          order: -1;
          margin-left: 0;
          margin-right: 20px;
        }

        &__itm-text {
          text-align: right;
        }
      }
    }

    // .way__item_kies

    &_kies {
    }

    // .way__item_start

    &_start {
      .way {
        &__wrap-title {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  // .way__number

  &__number {
    @extend %huge-numbers;
    color: $white;
    display: none;
  }

  // .way__item-wrap

  &__item-wrap {
    max-width: 350px;
  }

  // .way__wrap-img

  &__wrap-img {
    @extend %df;
    align-items: flex-end;
    margin-bottom: 21px;
  }

  // .way__wrap-title

  &__wrap-title {
    margin-left: 20px;
    margin-bottom: -7px;
  }

  // .way__itm-title

  &__itm-title {
    @extend %h3-title;
    color: $black;
  }

  // .way__itm-content

  &__itm-content {
  }

  // .way__itm-text

  &__itm-text {
    @extend %body_text_1;
    color: $black;
  }
}

.icon {
}

.icon-overleg {
}

.black {
}

.icon-plan {
}

.icon-kies {
}

.icon-start {
}
@include bp(1530px, min) {
  .way__wrap {
    &_overleg {
      padding-left: 95px;
      margin-bottom: 178px;
    }
    &_plan {
      margin-bottom: 211px;
    }
    &_kies {
      margin-bottom: 178px;
    }
  }
}
@include bp(1630px, min) {
  .way__wrap {
    &_overleg {
      padding-left: 95px;
      margin-bottom: 258px;
    }

    // .way__wrap_plan

    &_plan {
      padding-right: 95px;
      margin-bottom: 251px;
    }

    // .way__wrap_kies

    &_kies {
      padding-left: 95px;
      margin-bottom: 268px;
    }

    // .way__wrap_start

    &_start {
      padding-right: 95px;
    }
  }
}
