.review-sect {
  padding-top: 431px;
  overflow: hidden;
  padding-bottom: rem(50);
}



.review {

  // .review__wrap

  &__wrap {

    // .review__wrap_top

    &_top {
      margin-bottom: 115px;
    }

    // .review__wrap_bot

    &_bot {
      position: relative;

      .bg-effect {
        &:nth-child(2) {
          top: 30px;
          left: 30px;
          z-index: -2;
        }
      }
    }
  }

  // .review__quote-img

  &__quote-img {
    position: absolute;
    top: -61px;
    right: 45px;
    width: 210px;
    height: 168px;
    z-index: 5;
    // @extend %bg-reset;
    // background-image: url(../img/feedback-quote.svg);
  }

  // .review__title

  &__title {
    @extend %h2-title;
    color: $black;
    max-width: 800px;
  }

  // .review__items

  &__items {
  }

  // .review__item

  &__item {
    @extend .questions__item;
    height: 413px;
    padding: 0;
    padding: 0 0 0 40px;
  }

  // .review__itm-wrapper

  &__itm-wrapper {
  }

  // .review__itm-user

  &__itm-user {
    @extend %df;
    margin-top: -71px;
  }

  // .review__wrap-photo

  &__wrap-photo {
    width: 214px;
    height: 214px;
    overflow: hidden;
    border: 10px solid $black;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .review__user-content

  &__user-content {
    padding: 118px 0 0 30px;
  }

  // .review__link-icon

  &__link-icon {
    &:hover {
      .icon-in {
        color: $black;
      }
    }
  }

  // .review__user-name

  &__user-name {
    @extend %h4-title;
    color: $black;
    margin-top: 1px;
    margin-bottom: 7px;
  }

  // .review__user-position

  &__user-position {
    @extend %body_text_2;
    color: $black;
  }

  // .review__content

  &__content {
    margin-top: 21px;
    width: 808px;
    height: 189px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  // .review__text

  &__text {
    @extend %body_text_1;
    color: $black;
  }

  &__btns {
    position: absolute;
    right: 51px;
    bottom: 56px;
    z-index: 6;
  }

  &__number {
    @extend %df;
    justify-content: flex-end;
    margin-bottom: 24px;

    span {
      @extend %h4-title;
      color: $black;
    }
  }

  // .questions__wrap-btns

  &__wrap-btns {
    @extend %df;
  }


  // .questions__arr

  &__arr {
    @extend %slider-btn;
    // .questions__arr_left

    &_left {
      @extend %slider-btn-BG-WHITE;
      margin-right: 29px;
    }

    // .questions__arr_right

    &_right {
      @extend %slider-btn-BG-BLACK;
    }
  }
}

.bg-effect {
}

.icon {
}

.icon-in {
}

.gray {
}
