body {
    color: $black;
    background-color: $banana;
    overflow-x: hidden;
    &.hidden {
        overflow: hidden;
    }
    // position: static !important;
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}
.burger {
    display: none;
}
.main {
    overflow: hidden;
}
.icon {
    &.black {
        color: $black;
    }
    &.gray {
        color: rgba($color: $black, $alpha: .2);
    }
    &.icon-betaalbare {
        width: 73px;
        height: 71px;
    }
    &.icon-geep {
        width: 66px;
        height: 66px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    &.icon-flexibele {
        width: 72px;
        height: 72px;
    }
    &.icon-website {
        width: 82px;
        height: 76px;
    }
    &.icon-strategie {
        width: 82px;
        height: 85px;
    }
    &.icon-content {
        width: 82px;
        height: 83px;
    }
    &.icon-adverteren {
        width: 82px;
        height: 76px;
    }
    &.icon-overleg {
        width: 74px;
        height: 74px;
    }
    &.icon-plan {
        width: 61px;
        height: 74px;
    }
    &.icon-kies {
        width: 74px;
        height: 74px;
    }
    &.icon-start {
        width: 75px;
        height: 74px;
    }
    &.icon-in {
        width: 21px;
        height: 20px;
    }
    &.soft-banana {
        fill: #B8860B;
    }
    &.icon-mail {
        width: 28px;
        height: 21px;
        margin-right: 14px;
    }
    &.icon-link-in {
        width: 26px;
        height: 24px;
        margin-right: 16px;
    }
}
.bg-effect {
    position: absolute;
    content: '';
    @extend %db;
    width: 100%;
    height: 100%;
    border: 10px solid $black;
    background-color: $white;
    top: 10px;
    left: 10px;
    transform: translate(10px, 10px);
    z-index: -1;
    transition: all .3s ease;
}
.cookie_compliance_popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    pointer-events: none;
}

.CookieCompliancePopup .cookie_compliance_popup__inner_wrapper {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.cookie_compliance_popup__inner_wrapper {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    background-color: #3c3c3b;
    max-width: 770px;
    width: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: all;
}

.cookie_compliance_popup__content_container {
    padding: 15px;
    width: 100%;
    color: #000;
    border-bottom: 1px solid #999;
    p {
        @extend %body_text_3;
    }
}

.cookie_compliance_popup__content_container p {
    font-size: 15px;
    line-height: 1.27;
}

.cookie_compliance_popup__buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    line-height: 1;
    font-weight: bold;
    color: #000;
    transition: color 0.15s ease-in-out;
    width: 100%;
}

.cookie_compliance_popup__button {
    text-align: center;
    padding: 15px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %body_text_3;
}

.cookie_compliance_popup__button--agree {
    border: 1px solid #999;
    border-width: 0 1px 0 0;
}

@media screen and (min-width: 720px) {
    .cookie_compliance_popup__inner_wrapper {
        line-height: 1.56;
        flex-direction: row;
    }

    .cookie_compliance_popup {
        padding: 30px;
    }

    .CookieCompliancePopup .cookie_compliance_popup__inner_wrapper {
        background-color: #fff;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        border-radius: 0;
    }

    .cookie_compliance_popup__content_container {
        border-bottom: 0;
        border-right: 1px solid #999;
        padding: 20px 30px;
    }

    .cookie_compliance_popup__inner_wrapper p {
        font-size: 18px;
        line-height: 28px;
    }

    .cookie_compliance_popup__buttons-container {
        flex-direction: column;
        cursor: pointer;
        width: auto;
        font-size: 18px;
        line-height: 28px;
        justify-content: space-evenly;
    }

    .cookie_compliance_popup__button--agree {
        border: 1px solid #999;
        border-width: 0 1px 0 0;
    }

    .cookie_compliance_popup__button {
        padding: 15px 30px;
        width: 100%;
        height: 50%;
    }

    .cookie_compliance_popup__button--agree {
        border-width: 0 0 1px 0;
    }

    .cookie_compliance_popup__button {
        padding: 15px 30px;
        width: 100%;
        height: 50%;
    }
}

.cookie {
    position: fixed;
    bottom: rem(40);
    left: 50%;

    transform: translateX(-50%);

    width: rem(790);

    z-index: 10;

    background-color: #fff;
    opacity: 1;
    transition: all .5s ease;
    pointer-events: all;

    @include for-width(-tablet-md) {
        width: 90%;
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    &__wrap {
        position: relative;
    }

    &__pos-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0 rem(40) 0 rem(30);

        @include for-width(-tablet) {
            padding: 0 rem(20);
        }
    }

    &__icon {
        margin-top: rem(-44);
        @include for-width(-tablet) {
            margin-top: rem(-17);
            svg {
                width: rem(35);
                height: rem(35);
            }
        }
    }

    &__close {
        margin-top: rem(-14);
    }

    &__wrapper {
        padding: rem(40) rem(40) rem(32) rem(30);
        display: flex;
        justify-content: space-between;

        @include for-width(-tablet) {
            padding: rem(20);
        }

        @include for-width(-tablet-md) {
            flex-direction: column;
            align-items: center;
        }

        p {
            @extend %body_text_2;
            color: $black;
            max-width: rem(510);

            @include for-width(-tablet-md) {
                text-align: center;
            }
            @include for-width(-tablet) {
                font-size: rem(12);
                line-height: rem(14);
            }
        }
    }
    &__btn {
        @extend %base-btn-BANANA-BG;

        @include for-width(-tablet-md) {
            margin-top: rem(20);
        }

        @include for-width(-tablet) {
            width: rem(170);
            height: rem(50);
        }

        &:after {
            background-color: #FF7239;
        }
    }
}
//canvas {
//    position: absolute;
//    top: 0;
//    left: 0;
//    z-index: -1;
//    width: 100%;
//    height: 100%;
//}
.svg-sect,
.svg-sect-two {
    position: absolute;
    width: 100%;
    @extend %evt-none;
    z-index: -2;
    svg {
        overflow: visible !important;
        // position: relative !important;
    }
}
.header-sect {
    position: relative;
    .svg-sect {
        left: -250px;
        top: -150px;
    }
}
.about-sect {
    position: relative;
    .svg-sect {
        top: 100px;
        right: -200px;
        @extend %df;
        justify-content: flex-end;
    }
}
.adv-sect {
    position: relative;
    .svg-sect {
        top: 0;
        left: -250px;
    }
}
.service-sec {
    position: relative;
    .svg-sect {
        top: 150px;
        right: -280px;
        @extend %df;
        justify-content: flex-end;
    }
    .svg-sect-two {
        bottom: -100px;
        left: -100px;
    }
}
.king-sect {
    position: relative;
    .svg-sect {
        left: -120px;
    }
}
.projects-sect {
    position: relative;
    .svg-sect {
        top: 300px;
        right: -800px;
    }
}
.questions-sect {
    position: relative;
    .svg-sect {
        // top: 300px;
        left: -100px;
    }
}
.way-sect {
    position: relative;
    // overflow: hidden;
    // overflow-x: hidden;
    // overflow-y: auto;
    .svg-sect {
        top: 400px;
        // top: 300px;
        left: 100px;
    }
}
.review-sect {
    .svg-sect {
        left: -100px;
    }
}
.contact-sect {
    .svg-sect {
        left: -200px;
    }
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
#cursorBlob {
    width: 150px;
    height: 150px;
    background: $white;
    background-size: 1600% 1600%;
    position: absolute;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1;
    //transition: 0.15s linear;
    animation: blobRadius 5s ease infinite;
}
@keyframes blobRadius {
    0%, 100% { border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%; }
    20% { border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%; }
    40% { border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%; }
    60% { border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%; }
    80% { border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%; }
}
@keyframes blobBackground {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}
/*
header-sect
about-sect
adv-sect
service-sec
king-sect
projects-sect
questions-sect
way-sect
review-sect
company-sect
contact-sect
*/
// .blobCont {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
// }

// @for $i from 1 through 25 {
//   $a: #{$i*90};
//   $b: #{$i*90+360};

//   .blob:nth-child(#{$i}) {
//     animation: move#{$i} 20s infinite ease;
//   }

//   @keyframes move#{$i} {
//     from {
//       transform: rotate(#{$a}deg) translate(200px, 0.1px) rotate(-#{$a}deg);
//     }
//     to {
//       transform: rotate(#{$b}deg) translate(200px, 0.1px) rotate(-#{$b}deg);
//     }
//   }
// }
