// ================ Gilroy-Medium ================
@include font_face(Gilroy-Bold, Gilroy-Bold);

%gilroy-bold {
    font-family: 'Gilroy-Bold', sans-serif;
}
// ################ Gilroy-Medium ################

// ================ Gilroy-Medium ================
@include font_face(Gilroy-Medium, Gilroy-Medium);

%gilroy-medium {
    font-family: 'Gilroy-Medium', sans-serif;
}
// ################ Gilroy-Medium ################

// ================ Gilroy-Regular ==============
@include font_face(Gilroy-Regular, Gilroy-Regular);

%gilroy-regular {
    font-family: 'Gilroy-Regular', sans-serif;
}
// ################### Gilroy-Regular ###################

// ================ Gilroy-SemiBold ==================
@include font_face(Gilroy-SemiBold, Gilroy-SemiBold);

%gilroy-semibold {
    font-family: 'Gilroy-SemiBold', sans-serif;
}
// ################### Gilroy-SemiBold ################

// ================ GoshaSans-Bold ==================
@include font_face(GoshaSans-Bold, GoshaSans-Bold);

%goshasans-bold {
    font-family: 'GoshaSans-Bold', sans-serif;
}
// ################### GoshaSans-Bold ################

// ================ GoshaSans-Regular ==================
@include font_face(GoshaSans-Regular, GoshaSans-Regular);

%goshasans-regular {
    font-family: 'GoshaSans-Regular', sans-serif;
}
// ################### GoshaSans-Regular ################

// ====================== Font styles =======================

// mixin

%huge-numbers {
   @extend %gilroy-bold;
   @include setFontStyle(160, 160);
}

%h1-title {
  @extend %gilroy-bold;
  @include setFontStyle(80, 80);
}

%h2-title {
  @extend %gilroy-bold;
  @include setFontStyle(60, 63);
}

%h3-title {
  @extend %gilroy-bold;
  @include setFontStyle(36, 40);
}

%h4-title {
  @extend %gilroy-bold;
  @include setFontStyle(30, 39);
}

%subtitle {
  @extend %gilroy-semibold;
  @include setFontStyle(30, 39);
}

%subtitle-2 {
  @extend %gilroy-semibold;
  @include setFontStyle(24, 31);
}

%btn-text {
  @extend %goshasans-bold;
  @include setFontStyle(21, 27);
}

%menu {
  @extend %goshasans-regular;
  @include setFontStyle(16, 23);
}

%body_text_1 {
  @extend %gilroy-medium;
  @include setFontStyle(21, 27);
}

%body_text_2 {
  @extend %gilroy-medium;
  @include setFontStyle(18, 25);
}

%body_text_3 {
  @extend %gilroy-medium;
  @include setFontStyle(16, 23);
}

%body_text_4 {
  @extend %gilroy-regular;
  @include setFontStyle(14, 21);
}

%mail-text {
  @extend %gilroy-medium;
  @include setFontStyle(21, 27);
}
// ====================== Font styles =======================
%ttu {
  text-transform: uppercase;
}
