.icon {
	display: inline-block;
	fill: currentColor;
}

.icon-adobe {
	width:278px;
	height:66px;
}
.icon-adverteren {
	width:83px;
	height:77px;
}
.icon-angular {
	width:260px;
	height:70px;
}
.icon-arr-left {
	width:9px;
	height:11px;
}
.icon-arr-right {
	width:9px;
	height:11px;
}
.icon-betaalbare {
	width:73px;
	height:71px;
}
.icon-bing {
	width:174px;
	height:70px;
}
.icon-content {
	width:83px;
	height:85px;
}
.icon-css {
	width:174px;
	height:70px;
}
.icon-drupal {
	width:196px;
	height:70px;
}
.icon-fb {
	width:304px;
	height:60px;
}
.icon-fb-footer {
	width:11px;
	height:21px;
}
.icon-flexibele {
	width:73px;
	height:73px;
}
.icon-geep {
	width:66px;
	height:66px;
}
.icon-google {
	width:215px;
	height:70px;
}
.icon-google-something {
	width:471px;
	height:68px;
}
.icon-html {
	width:210px;
	height:70px;
}
.icon-in {
	width:21px;
	height:20px;
}
.icon-insta {
	width:299px;
	height:70px;
}
.icon-jquery {
	width:266px;
	height:60px;
}
.icon-js {
	width:134px;
	height:70px;
}
.icon-kies {
	width:74px;
	height:74px;
}
.icon-laravel {
	width:265px;
	height:70px;
}
.icon-link-in {
	width:24px;
	height:24px;
}
.icon-linkedin {
	width:247px;
	height:65px;
}
.icon-mail {
	width:28px;
	height:21px;
}
.icon-mail-clip {
	width:274px;
	height:70px;
}
.icon-mailgun {
	width:226px;
	height:70px;
}
.icon-mandrill {
	width:322px;
	height:68px;
}
.icon-overleg {
	width:74px;
	height:74px;
}
.icon-php {
	width:135px;
	height:70px;
}
.icon-plan {
	width:61px;
	height:74px;
}
.icon-python {
	width:268px;
	height:70px;
}
.icon-shopify {
	width:199px;
	height:70px;
}
.icon-snapchat {
	width:75px;
	height:70px;
}
.icon-start {
	width:76px;
	height:74px;
}
.icon-strategie {
	width:83px;
	height:87px;
}
.icon-twitter {
	width:320px;
	height:63px;
}
.icon-website {
	width:83px;
	height:77px;
}
.icon-wp {
	width:280px;
	height:70px;
}
