%base-btn {
  position: relative;
  @extend %df;
  @extend %aic;
  @extend %jcc;
  width: 255px;
  height: 65px;
  @extend %btn-text;
  color: $black;
  z-index: 2;
  &:after,
  &:before {
    position: absolute;
    content: '';
    @extend %db;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
  }
  &:before {
    border: 4px solid $black;
    z-index: -1;
  }
  &:after {
    background-color: $white;
    transform: translate(10px, 10px);
    z-index: -2;
  }
  &:hover {
    &:after {
      transform: translate(0);
    }
  }
}

%base-btn-BANANA-BG {
  @extend %base-btn;
  &:after {
    background-color: $banana;
  }
}

%slider-btn {
  width: 65px;
  height: 65px;
  border: 4px solid $black;
  transition: all .3s ease;
  position: relative;
  z-index: 2;
  i {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %evt-none;
    width: 100%;
    height: 100%;
  }
  .icon {
    width: 11px;
    height: 11px;
    @extend %evt-none;
    fill: currentColor;
  }
  span {
    position: absolute;
    @extend %db;
    @extend %evt-none;
    border: 4px solid $black;
    width: inherit;
    height: inherit;
    top: -4px;
    left: -4px;
    transition: all .3s ease;
    z-index: -2;
  }
  &:hover {
    span {
      top: 4px;
      left: 4px;
    }
  }
}

%slider-btn-BG-BLACK {
  @extend %slider-btn;
  i {
    background-color: $black;
  }
  .icon {
    color: $white;
  }
}

%slider-btn-BG-WHITE {
  @extend %slider-btn;
  i {
    background-color: $white;
  }
  .icon {
    color: $black;
  }
}