%base-input {
  position: relative;
  width: 396px;
  label, input {
    @extend %body_text_2;
    color: $black;
  }
  &.error {
    input,textarea {
      border-color: $red;
    }
    span {
      opacity: 1;
    }
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
    @extend %evt-none;
  }
  span {
    position: absolute;
    opacity: 0;
    @extend %body_text_4;
    color: $red;
  }
  input, textarea {
    @extend %db;
    @extend %input-reset;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 4px solid $black;
    &:focus {
      border-color: $banana;
      ~ label {
        top: -20px;
        @extend %body_text_4;
      }
    }
    &:valid ~ label {
      opacity: 0;
    }
  }
  textarea {
    padding-top: 27px;
    height: 115px;
    ~ label {
      opacity: 1 !important;
    }
  }
}