//---------------------------------------------fonts
$font_path: "../fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '../img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$white: #FCF5F3;
$black: #040211;
$banana: #FFD12A;
$orange: #FF7239;
$soft_white: rgba($color: $white, $alpha: .5);
$soft_black: rgba($color: $black, $alpha: .2);
$soft_banana: #EDBE12;
$red: #FF4539;

$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###