
include mainBlock/_doc
body
    include mainBlock/_navigation
    .main
        - const header = homeHeader;
        // Start Header Section
        header.header-sect
            .svg-sect
            .container
                .header
                    h1.header__title
                        = header.title.split('<br>')[0]
                        br
                        = header.title.split('<br>')[1]
                    p.header__text= header.subtitle
        // End Header Section
        // Start About us Section
        +simpleSection('about-sect')
            - const about = homeAbout;
            .about
                figure.about__wrap.about__wrap_left
                    img(src=`${about.ill}`, alt='Image name should be here')
                .about__wrap.about__wrap_right
                    .anchor-block(name="over-ons")
                    h2.about__title= about.title
                    .about__wrap-text
                        - for(let str of about.text.split('<br>'))
                            p.about__text= str
                    a(href="#adv").about__btn.anchor
                        span= about.btn
        // End About us Section
        // Start Advantages section
        +simpleSection('adv-sect')
            - const adv = homeAdvantages;
            .adv
                .anchor-block(name="adv")
                .adv__wrap.adv__wrap_top
                    h2.adv__title= adv.title
                    p.adv__text= adv.titleText
                .adv__wrap.adv__wrap_bot
                    ul.adv__items
                        - for(let itm of adv.items)
                            li.adv__itm
                                figure.adv__ico
                                    +icon(itm.icon, 'black')
                                .adv__content
                                    h3.adv__itm-title= itm.title
                                    p.adv__itm-text= itm.text
        // End Advantages section
        // Start Services section
        section.service-sec
            - const service = homeServices;
            .svg-sect
            .svg-sect-two
            .container
                .service
                    .anchor-block(name="services")
                    .service__wrap.service__wrap_top
                        h2.service__title= service.title
                        p.service__subtitle= service.subtitle
                    .service__wrap.service__wrap_bot
                        - const items = service.items;
                        - for(let k in items)
                            div(class=`service__item service__item_${k}`)
                                .service__item-ico-name
                                    .service__item-icon
                                        - if(k === 'websites')
                                            svg(width='116', height='107', viewBox='0 0 116 107', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M112.155 0.0117188H3.43131C2.90651e-05 0.0117188 0 0.0117737 0 3.43513V103.495C0 105.384 1.5362 106.917 3.43131 106.917H112.155C114.051 106.917 115.587 105.384 115.587 103.495V3.43513C115.587 1.54438 114.051 0.0117188 112.155 0.0117188ZM6.86173 6.85767H108.725V20.8452H6.86173V6.85767ZM108.725 100.071H6.86173V27.6911H108.725V100.071Z', fill='#040211')
                                                path(d='M101.499 10.4289C99.7045 10.4289 97.9849 12.0029 98.0678 13.8514C98.1507 15.7061 99.5758 17.2748 101.499 17.2748C103.294 17.2748 105.012 15.7 104.93 13.8514C104.847 11.9968 103.422 10.4289 101.499 10.4289Z', fill='#040211')
                                                path(d='M90.7263 10.4289C88.9318 10.4289 87.2122 12.0029 87.295 13.8514C87.3788 15.7061 88.803 17.2748 90.7263 17.2748C92.5209 17.2748 94.2405 15.7 94.1577 13.8514C94.0739 11.9968 92.6497 10.4289 90.7263 10.4289Z', fill='#040211')
                                                path(d='M79.9536 10.4289C78.159 10.4289 76.4403 12.0029 76.5232 13.8514C76.606 15.7061 78.0303 17.2748 79.9536 17.2748C81.7482 17.2748 83.4678 15.7 83.3849 13.8514C83.302 11.9968 81.8778 10.4289 79.9536 10.4289Z', fill='#040211')
                                                path(d='M2.7558e-05 0.0117737H3.61211V4.06603H2.7558e-05V0.0117737Z', fill='#040211')
                                                path(d='M111.975 0.0117737H115.587V4.06603H111.975V0.0117737Z', fill='#040211')
                                                path(d='M111.975 102.945H115.587V106.999H111.975V102.945Z', fill='#040211')
                                                path(d='M0 102.945H115.587V106.999H0V102.945Z', fill='#040211')
                                                path(d='M68.3805 47.2862L61.6736 44.6086L47.2215 80.6423L53.9284 83.3199L68.3805 47.2862Z', fill='#040211')
                                                path(d='M78.4213 80.9035L92.8697 66.4884C94.2703 65.0827 94.2703 62.8127 92.8697 61.407L78.4213 46.9919L73.3283 52.0732L85.2121 63.9297L73.3283 75.7861L78.4213 80.9035Z', fill='#040211')
                                                path(d='M92.541 61.0782L95.4264 63.957L92.541 66.8358L89.6556 63.957L92.541 61.0782Z', fill='#040211')
                                                path(d='M37.0974 46.9919L22.649 61.407C21.2484 62.8127 21.2484 65.0827 22.649 66.4884L37.0973 80.9035L42.1904 75.8222L30.3066 63.9657L42.1904 52.1093L37.0974 46.9919Z', fill='#040211')
                                                path(d='M22.9776 66.8172L20.0922 63.9384L22.9776 61.0596L25.863 63.9384L22.9776 66.8172Z', fill='#040211')
                                        - else if (k === 'content')
                                            svg(width='116', height='118', viewBox='0 0 116 118', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M0.138916 96.7001H30.9621V117.285H115.726V20.7631H84.9026V0.177734H0.138916V96.7001ZM84.9026 96.7001C84.9026 93.3103 84.9026 30.6224 84.9026 27.6249H108.02V110.424H51.868L84.2323 96.7001H84.9026ZM38.6679 108.421V96.7001H66.3084L38.6679 108.421ZM7.8447 7.03952H77.1968V89.8383H7.8447V7.03952Z', fill='#040211')
                                                path(d='M15.5505 41.5771H69.491V13.9013H15.5505V41.5771ZM23.2563 20.7631H61.7852V34.7154H23.2563V20.7631Z', fill='#040211')
                                                path(d='M15.5505 48.4389H38.6679V55.3007H15.5505V48.4389Z', fill='#040211')
                                                path(d='M46.3736 48.4389H69.491V55.3007H46.3736V48.4389Z', fill='#040211')
                                                path(d='M15.5505 62.1625H38.6679V69.0243H15.5505V62.1625Z', fill='#040211')
                                                path(d='M46.3736 62.1625H69.491V69.0243H46.3736V62.1625Z', fill='#040211')
                                                path(d='M15.5505 75.886H38.6679V82.7478H15.5505V75.886Z', fill='#040211')
                                                path(d='M46.3736 75.886H69.491V82.7478H46.3736V75.886Z', fill='#040211')
                                        - else if (k === 'strategie')
                                            svg(width='116', height='120', viewBox='0 0 116 120', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M115.587 105.468V21.0936H94.461C93.0624 17.0012 89.2986 14.0624 84.8841 14.0624C83.5622 14.0624 82.2993 14.3288 81.1397 14.8076C79.9651 10.3326 76.017 7.03121 71.3387 7.03121C70.0168 7.03121 68.754 7.29762 67.5944 7.77644C66.4197 3.30137 62.4717 0 57.7934 0C53.1152 0 49.1671 3.30137 47.9924 7.77644C46.8328 7.29762 45.57 7.03121 44.2481 7.03121C38.6465 7.03121 34.0891 11.7626 34.0891 17.578V21.0936H0V105.468H36.3466V105.937C36.3466 109.814 33.3086 112.968 29.574 112.968H13.7711V119.999H101.816V112.968H86.0128C82.2782 112.968 79.2402 109.814 79.2402 105.937V105.468H115.587ZM108.814 84.3745H95.0431V28.1248H108.814V84.3745ZM40.8617 17.578C40.8617 15.6399 42.3812 14.0624 44.2481 14.0624C46.115 14.0624 47.6344 15.6399 47.6344 17.578V52.734H54.4071V10.5468C54.4071 8.60865 55.9265 7.03121 57.7934 7.03121C59.6603 7.03121 61.1797 8.60865 61.1797 10.5468V52.734H67.9524V17.578C67.9524 15.6399 69.4718 14.0624 71.3387 14.0624C73.2056 14.0624 74.7251 15.6399 74.7251 17.578V52.734H81.4977V24.6092C81.4977 22.6711 83.0172 21.0936 84.8841 21.0936C86.751 21.0936 88.2704 22.6711 88.2704 24.6092V84.3745H60.8693C59.2097 73.8332 51.0772 65.522 40.8617 63.9986V17.578ZM37.4754 70.779C45.4915 70.779 52.2201 76.5953 53.9635 84.3745H27.3164V45.7028C27.3164 43.7647 28.8359 42.1872 30.7027 42.1872C32.5696 42.1872 34.0891 43.7647 34.0891 45.7028V70.779H37.4754ZM34.0891 28.1248V35.7603C33.0291 35.3703 31.8897 35.156 30.7027 35.156C25.1012 35.156 20.5438 39.8874 20.5438 45.7028V84.3745H6.77267V28.1248H34.0891ZM6.77267 91.4057H108.814V98.4369H6.77267V91.4057ZM74.2894 112.968H41.2974C42.4535 110.898 43.1193 108.498 43.1193 105.937V105.468H72.4675V105.937C72.4675 108.498 73.1333 110.898 74.2894 112.968Z', fill='#040211')
                                        - else if (k === 'adverteren')
                                            svg(width='116', height='108', viewBox='0 0 116 108', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M115.726 93.0693V0.297363H0.138916V93.0693H38.7308V100.183H31.9493V107.285H83.9154V100.183H77.1339V93.0693H115.726ZM108.953 7.39903V71.7643H6.91158V7.39903H108.953ZM6.91158 78.866H108.953V85.9676H6.91158V78.866ZM70.3612 100.183H45.5034V93.0693H70.3612V100.183Z', fill='#040211')
                                                path(d='M38.7978 50.4371H40.9901V64.6516H61.3187V51.2481L90.7603 57.6451V14.5127L57.5849 21.7207H38.7978C31.2473 21.7207 25.1043 28.1612 25.1043 36.0785C25.1043 43.9957 31.2473 50.4371 38.7978 50.4371ZM47.7627 57.5499V50.4371H54.546V57.5499H47.7627ZM83.9877 48.9206L61.3187 43.9957V28.1621L83.9877 23.2363V48.9206ZM38.7978 28.8224H54.546V43.3355H38.7978C34.982 43.3355 31.877 40.0805 31.877 36.0785C31.877 32.0773 34.982 28.8224 38.7978 28.8224Z', fill='#040211')
                                    h3.service__item-name= items[k].name
                                .service__item-content
                                    h3.service__item-name-tablet= items[k].name
                                    p.service__item-text= items[k].text

                //    .service__wrap.service__wrap_bot
                //        .service__items.service__items_top
                //            - for(let itm of service.items_top)
                //                div(class=`service__item service__item_${itm.icon}`)
                //                    button.service__itm-btn
                //                        span
                //                    .service__itm-wrap
                //                        figure.service__itm-ico
                //                            +icon(itm.icon, 'black')
                //                        h3.service__itm-title= itm.title
                //                    .service__content
                //                        p.service__itm-text= itm.text
                //        .service__items.service__items_middle
                //            div(class=`service__item service__item_middle`)
                //                p.service__middle-text= service.middle_text
                //        .service__items.service__items_bot
                //            - for(let itm of service.items_bot)
                //                div(class=`service__item service__item_${itm.icon}`)
                //                    button.service__itm-btn
                //                        span
                //                    .service__itm-wrap
                //                        figure.service__itm-ico
                //                            +icon(itm.icon, 'black')
                //                        h3.service__itm-title= itm.title
                //                    .service__content
                //                        p.service__itm-text= itm.text
        // End Services section
        // Start King section
        +simpleSection('king-sect')
            - const king = homeKingSection;
            .king
                .king__wrap.king__wrap_top
                    h2.king__title= king.title
                .king__wrap.king__wrap_bot
                    .king__card
                        .bg-effect
                        figure.king__wrap-img
                            img(src=`${king.photo}`, alt="King Name")
                        .king__content
                            p.king__text
                                = king.text.split('<br>')[0]
                                br
                                = king.text.split('<br>')[1]
                            form.king__form
                                +simpleFormField('king', king.input, 'text', 'phone', 'Error: phone number ßis not valid')
                                //- .king__wrap-input
                                //-     input(type="text" name="phone" required).king__input
                                //-     label.king__input-label= king.input
                                //-     span.king__input-error
                                +baseButton('king__btn k-submit', `${king.btn}`)
        // End King section
        // Start Projects section
        +simpleSection('projects-sect')
            - const projects = homeProjects;
            .projects
                .anchor-block(name="portfolio")
                .projects__wrap.projects__wrap_title
                    h2.projects__title
                        = projects.title.split('<br>')[0]
                        br
                        = projects.title.split('<br>')[1]
                    p.projects__subtitle= projects.subtitle
                .projects__wrap.projects__wrap_slider
                    - const itm = projects.items;
                    - for(let i = 0; i < itm.length; i++)
                        .projects__case
                            .projects__case-overlay
                                .projects__case-overlay-wrapper
                                    h3.projects__case-name
                                        = itm[i].name.split('<br>')[0]
                                        br
                                        = itm[i].name.split('<br>')[1]
                                    p.projects__case-text= itm[i].text
                                button.projects__case-btn.show-case(data-id=`${i}`)
                                    span Visie
                            figure.projects__case-image
                                img(src=`${itm[i].img}`)
                    .projects__image-overlay.case-over
                        button.projects__over-close.close-case
                            div
                                span
                                span
                        - for(let i = 0; i < itm.length; i++)
                            figure.projects__over-image.case-over-item(data-id=`${i}`)
                                img(src=`${itm[i].img_full}`)
                    //.projects__slide-btns
                    //    .projects__wrap-btns
                    //        button.projects__arr.projects__arr_left.q-btn-prev(data-prev-id="0")
                    //            i
                    //                +icon('arr-left')
                    //            span
                    //        button.projects__arr.projects__arr_right.q-btn-next(data-next-id="1")
                    //            i
                    //                +icon('arr-right')
                    //            span
                    //        .projects__slider-progress
                    //            .projects__progress
                    //                span
                    //            .projects__number
                    //                span.q-current 01
                    //                span /
                    //                span.q-last 03
                    //- for(let itm of projects.items)
                    //    .projects__slide(data-id=`${itm.id}` data-slide-project)
                    //        .projects__wrapper
                    //            h3.projects__name
                    //                = itm.name.split('<br>')[0]
                    //                br
                    //                = itm.name.split('<br>')[1]
                    //            .projects__wrapper-btns
                    //                a(href=`${itm.link}`).projects__btn-project
                    //                    span Visie
                    //                a(href=`${itm.link}`).projects__btn-projecs-all
                    //                    span Alles bekijken
                    //        figure.projects__slider-img
                    //            img(src=`${itm.img}`)
        // End Projects section
        // Start Questions section
        +simpleSection('questions-sect')
            - const questions = homeQuestions;
            .questions
                .questions__wrap.questions__wrap_top
                    h2.questions__title= questions.title
                    p.questions__subtitle= questions.subtitle
                form.questions__wrap.questions__wrap_bot
                    .bg-effect
                    ul.questions__items
                        - for(let itm of questions.items)
                            li(class=`questions__item ${itm.type == 'thanks' ? 'questions__item_thanks' : itm.type == 'text' ? 'questions__item_input' : ''}` data-id=`${itm.id}` data-slider-cards)
                                - if(itm.type == 'thanks')
                                    h3.questions__thanks-title= itm.title
                                    p.questions__thanks-text= itm.text
                                    +baseButton('questions__thanks-btn q-btn-next', `${itm.btn}`)
                                - else
                                    h3.questions__item-title= itm.title
                                    ul.questions__checkboxes
                                        - if(itm.type == 'checkbox')
                                            - for(let quest of itm.checkboxes)
                                                li.questions__check-itm
                                                    label.questions__itm-check
                                                        input(type="checkbox").questions__itm-input
                                                        span.questions__itm-text= quest
                                        - else
                                            li.questions__input-itm
                                                input(type=`${itm.type}` required).questions__input
                                                label.questions__input-label= itm.input == 'email' ? 'Je e-mailadres' :itm.input
                    +sliderButton('questions')
                    //- .questions__btns.btns-wrap
                    //-     .questions__number
                    //-         span.q-current 01
                    //-         span /
                    //-         span.q-last 03
                    //-     .questions__wrap-btns
                    //-         button.questions__arr.questions__arr_left.q-btn-prev(data-prev-id="0")
                    //-             i
                    //-                 +icon('arr-left')
                    //-             span
                    //-         button.questions__arr.questions__arr_right.q-btn-next(data-next-id="1")
                    //-             i
                    //-                 +icon('arr-right')
                    //-             span
        // End Questions section
        // Start Way section
        section.way-sect
            .svg-sect
            svg(viewBox='0 0 1366 1200', fill='none', class="way-bg-svg desc" xmlns='http://www.w3.org/2000/svg')
                line(x1='129', y1='277', x2='1238', y2='277', stroke='#040211', stroke-width='10')
                line(x1='129', y1='602', x2='1238', y2='602', stroke='black', stroke-width='10')
                line(x1='129', y1='899', x2='1238', y2='899', stroke='#040211', stroke-width='10')
                line(x1='1228', y1='1195', x2='1366', y2='1195', stroke='#040211', stroke-width='10')
                line(x1='4.37114e-07', y1='5', x2='138', y2='5.00001', stroke='#040211', stroke-width='10')
                line(x1='134', y1='-2.18557e-07', x2='134', y2='282', stroke='#040211', stroke-width='10')
                line(x1='1233', y1='272', x2='1233', y2='607', stroke='#040211', stroke-width='10')
                line(x1='1233', y1='900', x2='1233', y2='1200', stroke='#040211', stroke-width='10')
                line(x1='133', y1='597', x2='133', y2='904', stroke='#040211', stroke-width='10')
            svg(width='768', height='1057', viewBox='0 0 768 1057', fill='none', class="way-bg-svg mob" xmlns='http://www.w3.org/2000/svg')
                line(x1='30.6379', y1='257', x2='738', y2='257', stroke='#040211', stroke-width='10')
                line(x1='30.6378', y1='542', x2='738', y2='542', stroke='black', stroke-width='10')
                line(x1='30.6378', y1='800', x2='738', y2='800', stroke='#040211', stroke-width='10')
                line(x1='35', y1='-2.18557e-07', x2='35', y2='252', stroke='#040211', stroke-width='10')
                //line(x1='40', y1='5', y2='5', stroke='#040211', stroke-width='10')
                line(x1='733', y1='262', x2='733', y2='537', stroke='#040211', stroke-width='10')
                line(x1='733', y1='805', x2='733', y2='1057', stroke='#040211', stroke-width='10')
                line(x1='35', y1='537', x2='35', y2='805', stroke='#040211', stroke-width='10')
                //line(x1='768', y1='1052', x2='728', y2='1052', stroke='#040211', stroke-width='10')

            .container
                - const way = homeWay;
                .way
                    .way__wrap.way__wrap_top
                        h2.way__title
                            = way.title.split('<br>')[0]
                            br
                            = way.title.split('<br>')[1]
                        p.way__subtitle= way.subtitle
            .container.container-bot
                - for(let itm of way.items)
                    div(class=`way__wrap way__wrap_${itm.icon}`)
                        div(class=`way__item way__item_${itm.icon}`)
                            .way__number= '0' + itm.number
                            .way__item-wrap
                                figure.way__wrap-img
                                    +icon(itm.icon, 'black')
                                    figcaption.way__wrap-title
                                        h3.way__itm-title
                                            - if(itm.title.includes('<br>'))
                                                = '0' + itm.number
                                                = '.'
                                                = itm.title.split('<br>')[0]
                                                br
                                                = itm.title.split('<br>')[1]
                                            - else
                                                = '0' + itm.number
                                                = '.'
                                                = itm.title
                                .way__itm-content
                                    p.way__itm-text
                                        - if(itm.text.includes('<br>'))
                                            = itm.text.split('<br>')[0]
                                            br
                                            = itm.text.split('<br>')[1]
                                        - else
                                            = itm.text
        // End  Way section
        // Start Reviews section
        +simpleSection('review-sect')
            - const review = homeReview;
            // data-slider-cards
            .review
                .review__wrap.review__wrap_top
                    h2.review__title= review.title
                .review__wrap.review__wrap_bot
                    .bg-effect
                    .bg-effect
                    .review__quote-img
                        svg(width='210', height='168', viewBox='0 0 210 168', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M158.45 165.626C158.207 165.677 157.982 165.722 157.777 165.762L152.244 152.888C152.697 152.78 153.202 152.652 153.75 152.502C156.141 151.849 159.387 150.771 162.799 149.07C169.574 145.692 177.265 139.715 179.859 129.489C182.391 121.846 181.096 114.871 179.216 109.872C178.271 107.361 177.171 105.323 176.303 103.907C175.868 103.198 175.49 102.641 175.215 102.256C175.078 102.063 174.966 101.913 174.886 101.808C174.846 101.755 174.814 101.714 174.791 101.684L174.762 101.647L174.753 101.636L174.75 101.631L174.749 101.63C174.748 101.629 174.747 101.628 173.188 102.88L174.747 101.628L174.147 100.88L173.188 100.88L128.875 100.88L128.875 22L208 22L208 104.064C208 131.715 195.06 147.113 182.174 155.678C175.694 159.986 169.2 162.578 164.32 164.092C161.883 164.848 159.857 165.332 158.45 165.626ZM51.5746 165.626C51.3317 165.677 51.1072 165.722 50.9023 165.762L45.3689 152.888C45.8219 152.78 46.3266 152.652 46.8751 152.502C49.2657 151.849 52.5119 150.771 55.9236 149.07C62.6988 145.692 70.3895 139.715 72.9836 129.489C75.5157 121.847 74.221 114.871 72.3407 109.872C71.3965 107.361 70.2958 105.323 69.4278 103.907C68.9931 103.198 68.6147 102.641 68.3402 102.256C68.2028 102.063 68.0913 101.913 68.0114 101.808C67.9871 101.776 67.9658 101.748 67.9475 101.724C67.9357 101.709 67.9252 101.695 67.916 101.684L67.8875 101.647L67.8782 101.636L67.8749 101.631L67.8736 101.63C67.873 101.629 67.8724 101.628 66.3125 102.88L67.8724 101.628L67.272 100.88L66.3125 100.88L22 100.88L22 22L101.125 22L101.125 104.064C101.125 131.715 88.1851 147.113 75.2991 155.678C68.8186 159.986 62.3247 162.578 57.4446 164.092C55.0076 164.848 52.9822 165.332 51.5746 165.626Z', fill='#040211', stroke='#040211', stroke-width='4')
                            path(d='M138.45 145.626C138.207 145.677 137.982 145.722 137.777 145.762L132.244 132.888C132.697 132.78 133.202 132.652 133.75 132.502C136.141 131.849 139.387 130.771 142.799 129.07C149.574 125.692 157.265 119.715 159.859 109.489C162.391 101.846 161.096 94.8713 159.216 89.8719C158.271 87.3614 157.171 85.3229 156.303 83.9069C155.868 83.1976 155.49 82.6411 155.215 82.2558C155.078 82.0631 154.966 81.9129 154.886 81.8076C154.846 81.755 154.814 81.7135 154.791 81.6836L154.762 81.6473L154.753 81.6356L154.75 81.6314L154.749 81.6298C154.748 81.629 154.747 81.6284 153.188 82.88L154.747 81.6284L154.147 80.88L153.188 80.88L108.875 80.88L108.875 2.00001L188 2.00002L188 84.064C188 111.715 175.06 127.113 162.174 135.678C155.694 139.986 149.2 142.578 144.32 144.092C141.883 144.848 139.857 145.332 138.45 145.626ZM31.5746 145.626C31.3317 145.677 31.1072 145.722 30.9023 145.762L25.3689 132.888C25.8219 132.78 26.3266 132.652 26.8751 132.502C29.2657 131.849 32.5119 130.771 35.9236 129.07C42.6988 125.692 50.3895 119.715 52.9836 109.489C55.5157 101.847 54.221 94.8713 52.3407 89.8719C51.3965 87.3614 50.2958 85.3229 49.4278 83.9068C48.9931 83.1976 48.6147 82.6411 48.3402 82.2558C48.2028 82.0631 48.0913 81.9129 48.0114 81.8076C47.9871 81.7757 47.9658 81.7478 47.9475 81.7242C47.9357 81.7089 47.9252 81.6953 47.916 81.6836L47.8875 81.6473L47.8782 81.6356L47.8749 81.6314L47.8736 81.6298C47.873 81.629 47.8724 81.6284 46.3125 82.88L47.8724 81.6284L47.272 80.88L46.3125 80.88L1.99999 80.88L2 2L81.125 2.00001L81.125 84.064C81.125 111.715 68.1851 127.113 55.2991 135.678C48.8186 139.986 42.3247 142.578 37.4446 144.092C35.0076 144.848 32.9822 145.332 31.5746 145.626Z', fill='#FFD12A', stroke='#040211', stroke-width='4')
                    ul.review__items
                        - for(let itm of review.items)
                            li.review__item(data-id=`${itm.id}` data-slider-cards)
                                .review__itm-wrapper
                                    .review__itm-user
                                        figure.review__wrap-photo
                                            img(src=`${itm.img}`, alt=`${itm.name}`)
                                        .review__user-content
                                            a(href="#").review__link-icon
                                                +icon('in', 'gray')
                                            h3.review__user-name= itm.name
                                            p.review__user-position= itm.position
                                    .review__content
                                        p.review__text= itm.text
                    +sliderButton('review')
        // End Reviews section
        // Start Company section
        +simpleSection('company-sect')
            - const company = homeCompany;
            .company
                .company__wrap.company__wrap_top
                    h2.company__title= company.title
                    p.company__subtitle= company.subtitle
                - for(let itm of company.items)
                    .company__wrapper
                        - for(let logo of itm)
                            figure(class=`company__logo company__logo_${logo}`)
                                - if (logo == 'linkedin')
                                    svg(viewBox="0 0 247 65" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-svg")
                                        path(d="M181.672 4.65625C181.672 2.08602 183.81 0 186.446 0H241.489C244.126 0 246.263 2.08602 246.263 4.65625V60.3446C246.263 62.9157 244.126 65 241.489 65H186.446C183.81 65 181.672 62.9157 181.672 60.3455V4.6554V4.65625Z")
                                        path(d="M0.863159 54.4478H27.8186V45.5974H10.6198V11.8348H0.863159V54.4478ZM41.466 54.4478V25.0969H31.7102V54.4478H41.466ZM36.589 21.0902C39.9903 21.0902 42.1079 18.8363 42.1079 16.0179C42.0448 13.1383 39.9904 10.9482 36.6537 10.9482C33.3163 10.9482 31.1339 13.1391 31.1339 16.0179C31.1339 18.8363 33.2515 21.0902 36.525 21.0902H36.589ZM45.9952 54.4478H55.751V38.0563C55.751 37.1791 55.8141 36.3019 56.0724 35.677C56.7766 33.9243 58.3818 32.1085 61.0773 32.1085C64.6083 32.1085 66.0209 34.8007 66.0209 38.7442V54.447H75.775V37.6181C75.775 28.6023 70.9619 24.4072 64.5427 24.4072C59.2803 24.4072 56.9692 27.3491 55.6854 29.3533H55.751V25.0969H45.9952C46.124 27.8512 45.9952 54.4478 45.9952 54.4478ZM89.5383 11.8348H79.7825V54.4478H89.5383V44.9316L91.9764 41.8618L99.6146 54.4478H111.616L98.7809 36.2277L110.011 23.8326H98.2677C98.2677 23.8326 90.245 34.9217 89.5383 36.238V11.8348Z")
                                        path(d="M137.704 42.2045C137.833 41.4509 138.026 40.0051 138.026 38.37C138.026 30.7829 134.174 23.0799 124.034 23.0799C113.187 23.0799 108.18 31.6584 108.18 39.439C108.18 49.0618 114.278 55.071 124.932 55.071C129.168 55.071 133.082 54.447 136.293 53.1316L135.009 46.6885C132.376 47.5615 129.681 47.9988 126.344 47.9988C121.788 47.9988 117.809 46.1276 117.488 42.1414L137.704 42.2028V42.2045ZM117.424 35.6046C117.68 33.1 119.35 29.4045 123.522 29.4045C127.949 29.4045 128.977 33.3498 128.977 35.6046H117.424ZM162.106 11.8348V26.5862H161.977C160.564 24.5215 157.612 23.1439 153.699 23.1439C146.189 23.1439 139.579 29.1538 139.642 39.4211C139.642 48.9382 145.612 55.1366 153.056 55.1366C157.1 55.1366 160.95 53.3822 162.876 50.0013H163.068L163.454 54.4478H172.118C171.99 52.3814 171.861 48.8129 171.861 45.3067V11.834H162.105L162.106 11.8348ZM162.106 40.8618C162.106 41.612 162.042 42.3648 161.912 42.9888C161.337 45.6826 159.026 47.5589 156.201 47.5589C152.159 47.5589 149.526 44.3041 149.526 39.1705C149.526 34.3506 151.774 30.4684 156.266 30.4684C159.282 30.4684 161.4 32.5339 161.978 35.0999C162.106 35.6651 162.106 36.2917 162.106 36.8543V40.8618Z")
                                        path(d="M201.252 54.4117V25.0607H191.496V54.4117H201.252H201.252ZM196.375 21.0541C199.777 21.0541 201.894 18.8001 201.894 15.9835C201.83 13.103 199.777 10.9121 196.44 10.9121C193.101 10.9121 190.92 13.103 190.92 15.9835C190.92 18.8001 193.037 21.0541 196.311 21.0541H196.375H196.375ZM206.651 54.4117H216.406V38.0227C216.406 37.1464 216.47 36.2683 216.728 35.6426C217.433 33.889 219.038 32.0741 221.733 32.0741C225.263 32.0741 226.675 34.7654 226.675 38.7115V54.4117H236.43V37.5828C236.43 28.5679 231.618 24.3728 225.2 24.3728C219.937 24.3728 217.626 27.3139 216.342 29.3172H216.407V25.0616H206.652C206.779 27.8151 206.651 54.4125 206.651 54.4125V54.4117Z" class="icon-svg-cta")
                                - else if(logo == 'mail-clip')
                                    img(src=`${imgPath}mail-clip-banana.svg`, alt="" class="icon-svg")
                                    img(src=`${imgPath}mail-clip-black.svg`, alt="" class="icon-svg")
                                - else if(logo == 'js')
                                    svg(viewBox="0 0 134 70" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-svg")
                                        path(d="M133.171 0H71.7073L77.4695 62.875L102.436 70L127.402 62.875L133.171 0Z")
                                        path(d="M118.401 12.9756H87.5171L85.3658 36.4529L85.4105 36.307H111.648L110.793 46.2397L102.421 48.6742L93.9263 46.2015L93.4176 40.1898H85.7061L86.8058 52.2028L102.421 56.6829L118.044 52.2028L120.195 28.6248H92.3489L92.7063 20.7689H112.026L112.315 25.2699H120.095L118.401 12.9756Z" class="icon-svg-cta")
                                        path(d="M102.439 12.9756H87.5185L85.3658 36.4603L85.4105 36.3144H102.439V28.6541H93.4399L93.7976 20.7957H102.439V12.9756ZM93.4399 40.1984H85.7063L86.8067 52.2083L102.432 56.6829V48.6925L93.9317 46.212L93.4399 40.1984Z" class="icon-svg-cta")
                                        path(d="M15.5316 40.5647H0V51.796H26.6424V18.4385H15.5316V40.5647ZM65.0047 18.6166H37.9301V30.2932C41.5453 33.9348 43.4315 35.6862 48.756 40.9605H37.9301V51.608H65.0047V40.9803L54.1788 30.313H65.0047V18.6166Z")
                                - else if(logo == 'css')
                                    svg(viewBox="0 0 174 70" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-svg")
                                        path(d="M11.9728 41.0263V30.2406H27.7092V18.4385H0.170715V51.796H27.7092V41.0263H11.9728ZM56.0171 30.2406H67.0189V18.4385H39.4778V30.2406C43.1624 33.9252 45.084 35.6888 50.413 41.0178C47.2978 41.0178 39.4778 41.029 39.4778 41.0284V51.796H67.0189V41.0263L56.0171 30.2406ZM95.0517 30.2406H106.053V18.4385H78.5107V30.2406C82.1954 33.9252 84.1181 35.6888 89.4471 41.0178C86.3329 41.0178 78.5107 41.029 78.5107 41.0284V51.796H106.053V41.0263L95.0517 30.2406Z")
                                        path(d="M167.535 63.1938L142.257 70L116.979 63.1938L111.146 0H173.369L167.535 63.1938Z")
                                        path(d="M142.235 20.9204L124.143 28.4552L124.743 35.9152L142.235 28.4363L160.842 20.4809L161.613 12.8496L142.235 20.9204Z")
                                        path(d="M124.143 28.4557L124.743 35.9157L142.235 28.4368V20.9209L124.143 28.4557Z" class="icon-svg-cta")
                                        path(d="M161.613 12.8496L142.235 20.9202V28.436L160.842 20.4807L161.613 12.8496Z" class="icon-svg-cta")
                                        path(d="M124.171 28.4551L124.771 35.9151L151.61 36.0007L151.009 45.9472L142.178 48.4336L133.688 46.29L133.174 40.1162H125.285L126.314 52.0349L142.264 56.7508L158.127 52.1205L160.185 28.4551H124.171Z" class="icon-svg-cta")
                                        path(opacity="0.05" d="M142.235 28.4551H124.143L124.743 35.9151L142.235 35.971V28.4551ZM142.235 48.4098L142.149 48.4338L133.66 46.2902L133.146 40.1164H125.258L126.286 52.0351L142.235 56.751V48.4098Z" class="icon-svg-cta")
                                        path(d="M122.513 12.8496H161.613L160.842 20.4809H123.456L122.513 12.8496Z" class="icon-svg-cta")
                                        path(opacity="0.05" d="M142.235 12.8496H122.513L123.456 20.4809H142.235V12.8496Z")
                                - else if(logo == 'html')
                                    svg(viewBox="0 0 210 70" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-svg")
                                        path(d="M0.368652 18.3652H11.4891V29.3491H21.6593V18.3652H32.7797V51.6289H21.6593V40.5085H11.4891V51.6289H0.368652V18.3652ZM47.4001 29.3978H37.5927V18.3672H68.2928V29.3978H58.4991V51.6328H47.3787V29.3978H47.4001ZM73.1663 18.3652H84.7608L91.8934 30.0709L99.0183 18.3652H110.597V51.6289H99.5236V35.1395L91.8759 46.9681H91.6847L84.0643 35.1414V51.6309H73.1858L73.1663 18.3652ZM116.146 18.3652H127.266V40.6548H142.903V51.6504H116.148L116.146 18.3652Z")
                                        path(d="M148.193 0H209.915L204.292 62.9922L179.018 70L153.812 63.0019L148.193 0Z")
                                        path(d="M168.832 28.5158L168.126 20.6027H179.074V12.877H159.701L161.785 36.2435H179.074V28.5177L168.832 28.5158ZM162.109 40.1083L163.192 52.2432L179.02 56.6367L179.055 56.627V48.5891L179.022 48.5988L170.438 46.2577L169.887 40.0927H165.706L162.109 40.1083Z" class="icon-svg-cta")
                                        path(d="M196.8 30.5847L196.989 28.5089H179.029V36.2346H188.544L187.646 46.2567L179.029 48.5822V56.6201L194.871 52.2305L194.988 50.9233L196.8 30.5847ZM179.047 20.5998H197.711L198.404 12.8545H179.047V20.5607V20.5998Z" class="icon-svg-cta")
                                - else if(logo == "angular")
                                    svg(viewBox="0 0 260 70" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M76.2337 51.9193V20.1011H80.3339L99.8226 45.7072V20.1011H103.72V51.9193H99.6201L80.1314 26.0607V51.9193H76.2337ZM135.459 50.6567C132.877 51.6163 130.093 52.1213 127.157 52.1213C115.616 52.1213 109.845 46.6162 109.845 35.5556C109.845 25.1011 115.414 19.8486 126.55 19.8486C129.739 19.8486 132.726 20.3031 135.459 21.1617V24.6971C132.726 23.6365 129.891 23.1314 127.006 23.1314C118.299 23.1314 113.946 27.2728 113.946 35.4546C113.946 44.293 118.248 48.687 126.803 48.687C128.17 48.687 129.688 48.4849 131.359 48.1314V37.4748H135.459V50.6567ZM142.04 39.6466V20.1011H146.14V39.6466C146.14 45.7577 149.177 48.8385 155.302 48.8385C161.377 48.8385 164.464 45.7577 164.464 39.6466V20.1011H168.565V39.6466C168.565 47.9799 164.161 52.1718 155.302 52.1718C146.444 52.1718 142.04 47.9799 142.04 39.6466ZM180.005 20.1011V48.5859H196.709V51.9193H175.904V20.1011H180.005ZM202.632 51.9193H198.329L214.173 15.9092L230.017 51.9193H225.461L221.361 41.9193H210.832L211.946 38.5859H219.995L214.021 24.192L202.632 51.9193ZM234.421 51.9193V20.1011H248.038C254.112 20.1011 257.15 22.6264 257.15 27.7274C257.15 31.8688 254.163 34.9496 248.24 36.9193L259.174 51.9193H253.758L243.634 37.6264V34.9496C249.708 33.99 252.796 31.6668 252.796 27.9294C252.796 25.0001 251.126 23.5354 247.734 23.5354H238.623V51.9193H234.421Z")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M0 11.6162L32.6499 0L66.1603 11.4141L60.744 54.4949L32.6499 70L5.01138 54.697L0 11.6162Z")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M66.1603 11.4141L32.6499 0V70L60.744 54.4949L66.1603 11.4141Z")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M32.7005 8.18164L12.3513 53.3331L19.9443 53.1816L24.0445 42.9796H42.2171L46.6716 53.2826L53.9103 53.4342L32.7005 8.18164ZM32.7511 22.6766L39.6355 37.02H26.7274L32.7511 22.6766Z" class="icon-svg-cta")
                                - else if(logo == 'php')
                                    svg(viewBox="0 0 135 70" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-svg")
                                        path(d="M67.164 70C104.226 70 134.272 54.33 134.272 35C134.272 15.67 104.226 0 67.164 0C30.1015 0 0.0563965 15.67 0.0563965 35C0.0563965 54.33 30.1015 70 67.164 70Z")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M18.9015 55.7234L26.2561 18.4206H43.2621C50.6161 18.8812 54.2934 22.5651 54.2934 29.013C54.2934 40.0656 45.5605 46.513 37.7461 46.0523H29.4736L27.6349 55.7234H18.9015ZM31.3117 39.1448L33.6101 25.3286H39.5853C42.8028 25.3286 45.1007 26.7101 45.1007 29.4732C44.6414 37.3026 40.9641 38.6841 36.8276 39.1448H31.3122H31.3117ZM52.5848 46.0523L59.9388 8.75H68.6722L66.8336 18.4206H75.1067C82.4613 18.8812 85.219 22.5651 84.2999 27.1708L81.0824 46.0523H71.8897L75.1072 29.013C75.5665 26.7101 75.5665 25.3286 72.3495 25.3286H65.4547L61.3182 46.0523H52.5848ZM80.4936 55.7234L87.8477 18.4206H104.854C112.209 18.8812 115.886 22.5651 115.886 29.013C115.886 40.0656 107.153 46.513 99.3388 46.0523H91.0652L89.2265 55.7234H80.4936ZM92.9033 39.1448L95.2017 25.3286H101.177C104.395 25.3286 106.693 26.7101 106.693 29.4732C106.234 37.3026 102.556 38.6841 98.4197 39.1448H92.9038H92.9033Z" class="icon-svg-cta")
                                - else if(logo == "shopify")
                                    svg(viewBox="0 0 199 70" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-svg")
                                        path(d="M54.4126 13.6557C54.3884 13.5048 54.3147 13.3662 54.2031 13.2617C54.0915 13.1572 53.9483 13.0928 53.7961 13.0786C53.5499 13.0392 48.1432 12.665 48.1432 12.665L44.0206 8.54245C43.6503 8.12882 42.827 8.25094 42.5158 8.3376C42.4764 8.3376 41.6925 8.58381 40.4142 8.99941C39.1693 5.4028 36.9673 2.10164 33.091 2.10164H32.76C31.6472 0.663779 30.2881 0 29.1359 0C20.1069 0.0393933 15.8012 11.302 14.4421 17.0573L8.13133 18.9935C6.19515 19.61 6.12227 19.6553 5.86621 21.5009L0.546143 62.535L40.428 70L62.0431 65.3398C62.0431 65.3004 54.454 14.0496 54.4146 13.6596L54.4126 13.6557ZM38.2022 9.69273C37.1977 10.0236 36.0356 10.3545 34.8223 10.7268V9.98424C34.8617 8.12881 34.58 6.28127 33.999 4.51645C36.0198 4.82765 37.3789 7.09671 38.2022 9.69273ZM31.5645 4.99311C32.2243 6.93717 32.5493 8.98562 32.4666 11.04V11.4103L25.4939 13.5769C26.8589 8.48139 29.3742 5.96218 31.5605 5.01477L31.5645 4.99311ZM28.8857 2.48572C29.2993 2.49557 29.6992 2.6236 30.0399 2.85602C27.1307 4.21115 24.0561 7.63049 22.7364 14.4771L17.2213 16.167C18.7774 10.971 22.4075 2.4739 28.8818 2.4739L28.8857 2.48572Z")
                                        path(d="M53.7981 13.0763C53.5519 13.0369 48.1451 12.6627 48.1451 12.6627L44.0226 8.54015C43.871 8.38258 43.6641 8.29591 43.4455 8.29395L40.4359 69.9918L62.051 65.3316L54.4166 13.6908C54.3653 13.3757 54.1172 13.1236 53.8 13.0743L53.7981 13.0763Z")
                                        path(d="M33.089 25.0345L30.4063 32.9526C28.7852 32.1647 27.0106 31.7452 25.2103 31.7117C21.0011 31.7117 20.7982 34.351 20.7982 35.0128C20.7982 38.6173 30.2428 40.004 30.2428 48.5011C30.2428 55.1822 25.9942 59.4722 20.3019 59.4722C13.4553 59.4722 9.94931 55.2236 9.94931 55.2236L11.7693 49.157C11.7693 49.157 15.3541 52.2494 18.411 52.2494C18.7764 52.2638 19.1409 52.2038 19.4824 52.0731C19.8239 51.9424 20.1352 51.7436 20.3975 51.4888C20.6598 51.234 20.8676 50.9286 21.0083 50.5911C21.149 50.2536 21.2196 49.891 21.2158 49.5253C21.2158 44.7784 13.4612 44.5736 13.4612 36.821C13.4612 30.3014 18.1609 23.9492 27.6074 23.9492C31.3202 24.0044 33.0949 25.0325 33.0949 25.0325L33.089 25.0345Z" class="icon-svg-cta")
                                        path(d="M80.8101 36.8289C79.2679 36.0016 78.4702 35.2866 78.4702 34.3077C78.4702 33.0668 79.5535 32.2652 81.3124 32.2652C82.618 32.2935 83.9058 32.5751 85.104 33.0944L86.5261 28.773C86.5261 28.773 85.2222 27.7645 81.401 27.7645C76.0711 27.7645 72.3682 30.8175 72.3682 35.1074C72.3682 37.534 74.0857 39.4013 76.3941 40.7328C78.2594 41.8161 78.9153 42.5331 78.9153 43.6636C78.9153 44.7942 77.9975 45.7377 76.2504 45.7377C73.676 45.7377 71.2474 44.4062 71.2474 44.4062L69.7386 48.7277C69.7386 48.7277 71.99 50.2364 75.7501 50.2364C81.2257 50.2364 85.1651 47.5419 85.1651 42.6729C85.1946 40.0375 83.2092 38.2018 80.8318 36.8092L80.8101 36.8289ZM102.662 27.7389C99.9671 27.7389 97.8359 29.0133 96.2051 30.981L96.1145 30.9514L98.4544 18.708H92.3583L86.4355 49.8878H92.5356L94.5781 39.228C95.3778 35.202 97.4597 32.7123 99.4038 32.7123C100.763 32.7123 101.299 33.6302 101.299 34.9636C101.299 35.8697 101.208 36.7698 101.033 37.6581L98.7243 49.8582H104.824L107.223 37.2524C107.485 35.9465 107.637 34.6209 107.667 33.2933C107.637 29.8582 105.831 27.7862 102.664 27.7862L102.662 27.7389ZM121.433 27.7389C114.09 27.7389 109.232 34.3727 109.232 41.7235C109.232 46.4625 112.163 50.2522 117.643 50.2522C124.846 50.2522 129.725 43.7956 129.725 36.2675C129.725 31.885 127.15 27.7389 121.442 27.7389H121.433ZM118.439 45.5939C116.365 45.5939 115.478 43.8212 115.478 41.6349C115.478 38.1407 117.279 32.4267 120.603 32.4267C122.764 32.4267 123.485 34.292 123.485 36.1001C123.477 39.8523 121.673 45.5939 118.443 45.5939H118.439ZM145.325 27.7389C141.188 27.7389 138.868 31.3394 138.868 31.3394H138.777L139.138 28.0974H133.735L132.494 36.1828L128.259 58.511H134.332L136.022 49.4781H136.14C136.14 49.4781 137.381 50.2778 139.725 50.2778C146.891 50.2778 151.568 42.9349 151.568 35.5132C151.598 31.4261 149.768 27.7566 145.321 27.7566L145.325 27.7389ZM139.49 45.6826C138.57 45.7009 137.674 45.3845 136.969 44.7923L137.978 39.0763C138.699 35.2847 140.672 32.7379 142.803 32.7379C144.669 32.7379 145.23 34.4555 145.23 36.0863C145.24 40.0592 142.906 45.6845 139.498 45.6845L139.49 45.6826ZM160.31 18.9739C159.376 18.968 158.478 19.3383 157.822 20.002C157.166 20.6658 156.802 21.566 156.837 22.4996C156.837 24.2998 157.994 25.5526 159.719 25.5526H159.81C160.28 25.5713 160.75 25.4933 161.189 25.3235C161.628 25.1537 162.028 24.8956 162.364 24.5652C162.7 24.2348 162.964 23.8391 163.141 23.4025C163.318 22.966 163.404 22.4978 163.392 22.0269C163.392 20.2542 162.207 18.9739 160.339 18.9739H160.31ZM151.789 49.8287H157.889L162.033 28.2215H155.912L151.789 49.8287ZM177.578 28.1919H173.318L173.526 27.1834C173.887 25.1094 175.126 23.2441 177.127 23.2441C177.79 23.2444 178.449 23.3439 179.083 23.5396L180.261 18.7671C180.261 18.7671 179.177 18.2352 176.944 18.2352C174.77 18.1812 172.649 18.9056 170.962 20.2778C168.888 22.0505 167.909 24.5992 167.416 27.1775L167.219 28.186H164.377L163.487 32.7753H166.329L163.087 49.8326H169.209L172.451 32.7753H176.658L177.485 28.186L177.578 28.1919ZM192.268 28.2215L186.729 43.0865H186.638L185.13 28.2215H178.701L182.374 48.0599C182.462 48.399 182.42 48.7589 182.256 49.0684C181.458 50.5398 180.322 51.7984 178.939 52.7418C177.879 53.4706 176.723 54.0497 175.504 54.4594L177.194 59.6396C179.428 59.0415 181.48 57.8985 183.164 56.3128C185.947 53.705 188.521 49.679 191.161 44.1994L198.622 28.2096H192.266L192.268 28.2215Z")
                                - else
                                    +icon(logo, 'soft-banana')
                .company__wrapper
                    figure(class=`company__logo company__logo_vue grayscale`)
                        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1184px-Vue.js_Logo_2.svg.png")
                    figure(class=`company__logo company__logo_nuxt grayscale`)
                        img(src="https://seeklogo.com/images/N/nuxt-logo-5EF50E1ABD-seeklogo.com.png")
                    figure(class=`company__logo company__logo_adonis grayscale`)
                        img(src="https://seeklogo.com/images/A/adonis-js-logo-6F17525047-seeklogo.com.png")
                    figure(class=`company__logo company__logo_paypal grayscale`)
                        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/1280px-PayPal.svg.png")
                    figure(class=`company__logo company__logo_stripe grayscale`)
                        img(src="https://cdn.worldvectorlogo.com/logos/stripe-3.svg")
                    figure(class=`company__logo company__logo_stripe grayscale`)
                        img(src="https://habrastorage.org/webt/z9/1x/wo/z91xwouywdfcon80vjkkqhr4ptk.png")
        // End Company section
        // Start Contact section
        +simpleSection('contact-sect')
            - const contact = homeContact;
            .contact
                .anchor-block(name="contact")
                .contact__wrap.contact__wrap_left
                    h2.contact__title= contact.title
                    p.contact__text= contact.text.split('<br>')[0]
                    p.contact__text= contact.text.split('<br>')[1]
                    .contact__king
                        - const contactKing = contact.kingPerson;
                        h3.contact__king-name= contactKing.name
                        p.contact__king-position= contactKing.position
                        ul.contact__king-items
                            - for(let itm of contactKing.contacts)
                                li.contact__king-item
                                    figure.contact__king-icon
                                        +icon(itm.icon, 'black')
                                    a(href="#").contact__king-link
                                        span= itm.text
                .contact__wrap.contact__wrap_right
                    .bg-effect
                    form.contact__form
                        - const form = contact.form;
                        .contact__form-default
                            h3.contact__form-title= form.title
                            - for(let itm of form.fields)
                                div(class=`contact__form-wrap contact__form-wrap_${itm.type}`)
                                    +simpleFormField('contact', itm.label, itm.type, itm.type, itm.error_message)
                            +baseButton('contact', form.btn.default)
                        .contact__form-thanks
                            - const thanks = form.thank_you;
                            .contact__form-thanks-wrapper
                                h3.contact__form-title.contact__form-title_thanks
                                    = thanks.title.split('<br>')[0]
                                    br
                                    = thanks.title.split('<br>')[1]
                                p.contact__form-text= thanks.text
                                +baseButton('contact', thanks.btn)
        // End Contact section
        .cookie
            .cookie__wrap
                .cookie__pos-wrap
                    .cookie__icon
                        svg(width='71' height='71' viewBox='0 0 71 71' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M46.459 22.1387C46.459 21.2417 46.519 20.3589 46.6333 19.4934C42.524 18.7133 38.959 16.3954 36.5585 13.1621C22.4665 16.9534 12.0933 29.8167 12.0933 45.1068C12.0933 51.7645 14.0616 57.9616 17.4455 63.1517C22.6355 66.5356 28.8326 68.5039 35.4904 68.5039C51.4738 68.5039 64.8103 57.1688 67.8983 42.0988C67.4267 42.132 66.9502 42.1498 66.4696 42.1498C55.4183 42.1498 46.459 33.1906 46.459 22.1387Z' fill='#FF7239')
                            path(d='M26.9986 23.2732C26.9986 25.1188 25.5024 26.6155 23.6563 26.6155C21.8106 26.6155 20.314 25.1188 20.314 23.2732C20.314 21.427 21.8106 19.9309 23.6563 19.9309C25.5024 19.9309 26.9986 21.427 26.9986 23.2732Z' fill='#FFD12A')
                            path(d='M28.8947 43.1627C28.8947 45.0083 27.3981 46.505 25.5524 46.505C23.7063 46.505 22.2101 45.0083 22.2101 43.1627C22.2101 41.317 23.7063 39.8204 25.5524 39.8204C27.3981 39.8204 28.8947 41.317 28.8947 43.1627Z' fill='#FFD12A')
                            path(d='M44.1237 35.4563C44.1237 37.302 42.6271 38.7986 40.7814 38.7986C38.9353 38.7986 37.4391 37.302 37.4391 35.4563C37.4391 33.6101 38.9353 32.114 40.7814 32.114C42.6271 32.114 44.1237 33.6101 44.1237 35.4563Z' fill='#FFD12A')
                            path(d='M49.6302 53.1759C49.6302 55.8201 47.4871 57.9637 44.8429 57.9637C42.1986 57.9637 40.055 55.8201 40.055 53.1759C40.055 50.5322 42.1986 48.3885 44.8429 48.3885C47.4871 48.3885 49.6302 50.5322 49.6302 53.1759Z' fill='#FFD12A')
                            path(d='M68.5919 9.71765C68.5919 11.7834 66.9173 13.4579 64.8516 13.4579C62.7859 13.4579 61.1108 11.7834 61.1108 9.71765C61.1108 7.65142 62.7859 5.97685 64.8516 5.97685C66.9173 5.97685 68.5919 7.65142 68.5919 9.71765Z' fill='#FFD12A')
                            path(d='M48.8115 9.93033C48.8115 11.4854 47.5507 12.7467 45.9951 12.7467C44.44 12.7467 43.1787 11.4854 43.1787 9.93033C43.1787 8.37473 44.44 7.11394 45.9951 7.11394C47.5507 7.11394 48.8115 8.37473 48.8115 9.93033Z' fill='#FFD12A')
                            path(d='M63.2407 28.0842C63.2407 29.9504 61.7278 31.4639 59.8611 31.4639C57.9949 31.4639 56.4819 29.9504 56.4819 28.0842C56.4819 26.2175 57.9949 24.7045 59.8611 24.7045C61.7278 24.7045 63.2407 26.2175 63.2407 28.0842Z' fill='#FFD12A')
                            path(d='M24.6823 59.8026C24.4812 59.8026 24.2775 59.7594 24.0832 59.6678L24.0195 59.6373C23.3178 59.3019 23.0209 58.4612 23.3562 57.7595C23.6921 57.0578 24.5328 56.7614 25.234 57.0967L25.2835 57.1199C25.9873 57.4515 26.289 58.2907 25.9573 58.994C25.7173 59.5035 25.2108 59.8026 24.6823 59.8026Z' fill='black')
                            path(d='M20.5298 57.3367C20.2413 57.3367 19.9507 57.2483 19.7001 57.0651C15.7419 54.1729 12.6533 50.2631 10.7677 45.7584C10.4676 45.0409 10.8056 44.216 11.5231 43.916C12.2406 43.6154 13.0655 43.9533 13.3656 44.6708C15.0528 48.7022 17.8181 52.2019 21.3615 54.7914C21.9895 55.2505 22.1264 56.1312 21.6679 56.7592C21.392 57.1361 20.9641 57.3367 20.5298 57.3367Z' fill='black')
                            path(d='M35.4905 69.9112C26.278 69.9112 17.6167 66.3236 11.1022 59.8091C4.58761 53.2951 1 44.6332 1 35.4207C1 26.5925 4.33282 18.1939 10.3852 11.772C16.4107 5.37904 24.5434 1.55401 33.2864 1.00179C33.688 0.976518 34.0844 1.1255 34.3703 1.41082C34.6561 1.69667 34.8056 2.09097 34.7804 2.49421C34.7609 2.81059 34.7509 3.12224 34.7509 3.42072C34.7509 10.5954 39.8588 16.773 46.8961 18.1091C47.63 18.2481 48.1274 18.9361 48.0295 19.6768C47.9216 20.4923 47.8674 21.3203 47.8674 22.1379C47.8674 32.3953 56.2123 40.7408 66.4698 40.7408C66.902 40.7408 67.3494 40.7245 67.8001 40.6929C68.2386 40.6634 68.6676 40.8387 68.9577 41.1698C69.2483 41.501 69.3667 41.949 69.2783 42.3806C67.7069 50.0475 63.4976 57.0285 57.4263 62.038C51.2723 67.1154 43.4822 69.9112 35.4905 69.9112ZM31.9424 3.94557C16.0511 5.717 3.81639 19.2578 3.81639 35.4207C3.81639 52.886 18.0252 67.0948 35.4905 67.0948C49.8683 67.0948 62.4694 57.297 66.1113 43.554C54.4651 43.3624 45.051 33.8288 45.051 22.1379C45.051 21.6236 45.0699 21.1056 45.1068 20.5881C37.5683 18.5792 32.173 11.8136 31.9424 3.94557Z' fill='black')
                            path(d='M23.6562 28.0231C21.0367 28.0231 18.9058 25.8922 18.9058 23.2732C18.9058 20.6537 21.0373 18.5222 23.6562 18.5222C26.2758 18.5222 28.4067 20.6537 28.4067 23.2732C28.4067 25.8922 26.2758 28.0231 23.6562 28.0231ZM23.6562 21.3385C22.5897 21.3385 21.7222 22.2066 21.7222 23.2732C21.7222 24.3397 22.5897 25.2073 23.6562 25.2073C24.7228 25.2073 25.5903 24.3392 25.5903 23.2732C25.5903 22.2066 24.7228 21.3385 23.6562 21.3385Z' fill='black')
                            path(d='M25.5522 47.9132C22.9332 47.9132 20.8022 45.7822 20.8022 43.1627C20.8022 40.5432 22.9332 38.4122 25.5522 38.4122C28.1717 38.4122 30.3027 40.5432 30.3027 43.1627C30.3032 45.7822 28.1717 47.9132 25.5522 47.9132ZM25.5522 41.2286C24.4862 41.2286 23.6181 42.0961 23.6181 43.1627C23.6181 44.2292 24.4862 45.0968 25.5522 45.0968C26.6188 45.0968 27.4863 44.2292 27.4863 43.1627C27.4868 42.0961 26.6188 41.2286 25.5522 41.2286Z' fill='black')
                            path(d='M40.7817 40.2068C38.1622 40.2068 36.0312 38.0753 36.0312 35.4563C36.0312 32.8368 38.1622 30.7058 40.7817 30.7058C43.4012 30.7058 45.5322 32.8368 45.5322 35.4563C45.5322 38.0753 43.4012 40.2068 40.7817 40.2068ZM40.7817 33.5222C39.7152 33.5222 38.8476 34.3898 38.8476 35.4563C38.8476 36.5223 39.7152 37.3904 40.7817 37.3904C41.8483 37.3904 42.7158 36.5223 42.7158 35.4563C42.7158 34.3898 41.8483 33.5222 40.7817 33.5222Z' fill='black')
                            path(d='M64.8516 14.8661C62.0126 14.8661 59.7031 12.5562 59.7031 9.71766C59.7031 6.87863 62.0126 4.56866 64.8516 4.56866C67.6906 4.56866 70.0001 6.87863 70.0001 9.71766C70.0001 12.5562 67.6906 14.8661 64.8516 14.8661ZM64.8516 7.38558C63.5655 7.38558 62.519 8.43159 62.519 9.71766C62.519 11.0037 63.5655 12.0497 64.8516 12.0497C66.1377 12.0497 67.1837 11.0032 67.1837 9.71766C67.1837 8.43159 66.1377 7.38558 64.8516 7.38558Z' fill='black')
                            path(d='M45.9951 14.1544C43.6656 14.1544 41.771 12.2598 41.771 9.93034C41.771 7.60089 43.6656 5.70575 45.9951 5.70575C48.3245 5.70575 50.2196 7.60089 50.2196 9.93034C50.2196 12.2593 48.3245 14.1544 45.9951 14.1544ZM45.9951 8.52214C45.2186 8.52214 44.5869 9.15385 44.5869 9.93034C44.5869 10.7068 45.2186 11.338 45.9951 11.338C46.7715 11.338 47.4033 10.7068 47.4033 9.93034C47.4033 9.15385 46.7715 8.52214 45.9951 8.52214Z' fill='black')
                            path(d='M59.8611 32.8715C57.221 32.8715 55.0737 30.7237 55.0737 28.0842C55.0737 25.4442 57.221 23.2963 59.8611 23.2963C62.5011 23.2963 64.6489 25.4442 64.6489 28.0842C64.6489 30.7237 62.5011 32.8715 59.8611 32.8715ZM59.8611 26.1127C58.774 26.1127 57.8901 26.9971 57.8901 28.0842C57.8901 29.1713 58.774 30.0552 59.8611 30.0552C60.9481 30.0552 61.8325 29.1713 61.8325 28.0842C61.8325 26.9971 60.9481 26.1127 59.8611 26.1127Z' fill='black')
                            path(d='M44.843 59.3719C41.4265 59.3719 38.647 56.5924 38.647 53.1759C38.647 49.7599 41.4265 46.9803 44.843 46.9803C48.2596 46.9803 51.0386 49.7599 51.0386 53.1759C51.0386 56.5924 48.259 59.3719 44.843 59.3719ZM44.843 49.7967C42.9795 49.7967 41.4634 51.3129 41.4634 53.1759C41.4634 55.0394 42.9795 56.5555 44.843 56.5555C46.7066 56.5555 48.2227 55.0394 48.2227 53.1759C48.2227 51.3129 46.7066 49.7967 44.843 49.7967Z' fill='black')
                            path(d='M24.6823 59.8026C24.4812 59.8026 24.2775 59.7594 24.0832 59.6678L24.0195 59.6373C23.3178 59.3019 23.0209 58.4612 23.3562 57.7595C23.6921 57.0578 24.5328 56.7614 25.234 57.0967L25.2835 57.1199C25.9873 57.4515 26.289 58.2907 25.9573 58.994C25.7173 59.5035 25.2108 59.8026 24.6823 59.8026Z' stroke='black')
                            path(d='M20.5298 57.3367C20.2413 57.3367 19.9507 57.2483 19.7001 57.0651C15.7419 54.1729 12.6533 50.2631 10.7677 45.7584C10.4676 45.0409 10.8056 44.216 11.5231 43.916C12.2406 43.6154 13.0655 43.9533 13.3656 44.6708C15.0528 48.7022 17.8181 52.2019 21.3615 54.7914C21.9895 55.2505 22.1264 56.1312 21.6679 56.7592C21.392 57.1361 20.9641 57.3367 20.5298 57.3367Z' stroke='black')
                            path(d='M35.4905 69.9112C26.278 69.9112 17.6167 66.3236 11.1022 59.8091C4.58761 53.2951 1 44.6332 1 35.4207C1 26.5925 4.33282 18.1939 10.3852 11.772C16.4107 5.37904 24.5434 1.55401 33.2864 1.00179C33.688 0.976518 34.0844 1.1255 34.3703 1.41082C34.6561 1.69667 34.8056 2.09097 34.7804 2.49421C34.7609 2.81059 34.7509 3.12224 34.7509 3.42072C34.7509 10.5954 39.8588 16.773 46.8961 18.1091C47.63 18.2481 48.1274 18.9361 48.0295 19.6768C47.9216 20.4923 47.8674 21.3203 47.8674 22.1379C47.8674 32.3953 56.2123 40.7408 66.4698 40.7408C66.902 40.7408 67.3494 40.7245 67.8001 40.6929C68.2386 40.6634 68.6676 40.8387 68.9577 41.1698C69.2483 41.501 69.3667 41.949 69.2783 42.3806C67.7069 50.0475 63.4976 57.0285 57.4263 62.038C51.2723 67.1154 43.4822 69.9112 35.4905 69.9112ZM31.9424 3.94557C16.0511 5.717 3.81639 19.2578 3.81639 35.4207C3.81639 52.886 18.0252 67.0948 35.4905 67.0948C49.8683 67.0948 62.4694 57.297 66.1113 43.554C54.4651 43.3624 45.051 33.8288 45.051 22.1379C45.051 21.6236 45.0699 21.1056 45.1068 20.5881C37.5683 18.5792 32.173 11.8136 31.9424 3.94557Z' stroke='black')
                            path(d='M23.6562 28.0231C21.0367 28.0231 18.9058 25.8922 18.9058 23.2732C18.9058 20.6537 21.0373 18.5222 23.6562 18.5222C26.2758 18.5222 28.4067 20.6537 28.4067 23.2732C28.4067 25.8922 26.2758 28.0231 23.6562 28.0231ZM23.6562 21.3385C22.5897 21.3385 21.7222 22.2066 21.7222 23.2732C21.7222 24.3397 22.5897 25.2073 23.6562 25.2073C24.7228 25.2073 25.5903 24.3392 25.5903 23.2732C25.5903 22.2066 24.7228 21.3385 23.6562 21.3385Z' stroke='black')
                            path(d='M25.5522 47.9132C22.9332 47.9132 20.8022 45.7822 20.8022 43.1627C20.8022 40.5432 22.9332 38.4122 25.5522 38.4122C28.1717 38.4122 30.3027 40.5432 30.3027 43.1627C30.3032 45.7822 28.1717 47.9132 25.5522 47.9132ZM25.5522 41.2286C24.4862 41.2286 23.6181 42.0961 23.6181 43.1627C23.6181 44.2292 24.4862 45.0968 25.5522 45.0968C26.6188 45.0968 27.4863 44.2292 27.4863 43.1627C27.4868 42.0961 26.6188 41.2286 25.5522 41.2286Z' stroke='black')
                            path(d='M40.7817 40.2068C38.1622 40.2068 36.0312 38.0753 36.0312 35.4563C36.0312 32.8368 38.1622 30.7058 40.7817 30.7058C43.4012 30.7058 45.5322 32.8368 45.5322 35.4563C45.5322 38.0753 43.4012 40.2068 40.7817 40.2068ZM40.7817 33.5222C39.7152 33.5222 38.8476 34.3898 38.8476 35.4563C38.8476 36.5223 39.7152 37.3904 40.7817 37.3904C41.8483 37.3904 42.7158 36.5223 42.7158 35.4563C42.7158 34.3898 41.8483 33.5222 40.7817 33.5222Z' stroke='black')
                            path(d='M64.8516 14.8661C62.0126 14.8661 59.7031 12.5562 59.7031 9.71766C59.7031 6.87863 62.0126 4.56866 64.8516 4.56866C67.6906 4.56866 70.0001 6.87863 70.0001 9.71766C70.0001 12.5562 67.6906 14.8661 64.8516 14.8661ZM64.8516 7.38558C63.5655 7.38558 62.519 8.43159 62.519 9.71766C62.519 11.0037 63.5655 12.0497 64.8516 12.0497C66.1377 12.0497 67.1837 11.0032 67.1837 9.71766C67.1837 8.43159 66.1377 7.38558 64.8516 7.38558Z' stroke='black')
                            path(d='M45.9951 14.1544C43.6656 14.1544 41.771 12.2598 41.771 9.93034C41.771 7.60089 43.6656 5.70575 45.9951 5.70575C48.3245 5.70575 50.2196 7.60089 50.2196 9.93034C50.2196 12.2593 48.3245 14.1544 45.9951 14.1544ZM45.9951 8.52214C45.2186 8.52214 44.5869 9.15385 44.5869 9.93034C44.5869 10.7068 45.2186 11.338 45.9951 11.338C46.7715 11.338 47.4033 10.7068 47.4033 9.93034C47.4033 9.15385 46.7715 8.52214 45.9951 8.52214Z' stroke='black')
                            path(d='M59.8611 32.8715C57.221 32.8715 55.0737 30.7237 55.0737 28.0842C55.0737 25.4442 57.221 23.2963 59.8611 23.2963C62.5011 23.2963 64.6489 25.4442 64.6489 28.0842C64.6489 30.7237 62.5011 32.8715 59.8611 32.8715ZM59.8611 26.1127C58.774 26.1127 57.8901 26.9971 57.8901 28.0842C57.8901 29.1713 58.774 30.0552 59.8611 30.0552C60.9481 30.0552 61.8325 29.1713 61.8325 28.0842C61.8325 26.9971 60.9481 26.1127 59.8611 26.1127Z' stroke='black')
                            path(d='M44.843 59.3719C41.4265 59.3719 38.647 56.5924 38.647 53.1759C38.647 49.7599 41.4265 46.9803 44.843 46.9803C48.2596 46.9803 51.0386 49.7599 51.0386 53.1759C51.0386 56.5924 48.259 59.3719 44.843 59.3719ZM44.843 49.7967C42.9795 49.7967 41.4634 51.3129 41.4634 53.1759C41.4634 55.0394 42.9795 56.5555 44.843 56.5555C46.7066 56.5555 48.2227 55.0394 48.2227 53.1759C48.2227 51.3129 46.7066 49.7967 44.843 49.7967Z' stroke='black')
                    .cookie__close
                        svg(width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg')
                            line(x1='23.2007' y1='7.95018' x2='7.95011' y2='23.2007' stroke='#040211' stroke-width='4')
                            line(x1='22.5509' y1='23.2007' x2='7.3003' y2='7.95017' stroke='#040211' stroke-width='4')

            .cookie__wrapper
                p.cookie__text Opklopper houdt van koekjes! Mogen wij er een paar met je delen voor het afspelen van video’s, delen-op-sociale-media
                    | en om onze campagnes te meten? Dank je wel!
                +baseButton('cookie', 'Ik aanvaard')
    include mainBlock/_scripts
