mixin simpleSection($class, $id)
    section(class=`${$class}` name=`${$id}`)
        .svg-sect
        .container
            if block
                block
            else
                p No content providet

mixin baseButton($class, $slot)
    button(class=`${$class}__btn`)
        span= $slot

mixin sliderButton($class)
    div(class=`${$class}__btns btns-wrap`)
        div(class=`${$class}__number`)
            span.q-current 01
            span /
            span.q-last 03
        div(class=`${$class}__wrap-btns`)
            button(class=`${$class}__arr ${$class}__arr_left q-btn-prev` data-prev-id="0")
                i
                    +icon('arr-left')
                span
            button(class=`${$class}__arr ${$class}__arr_right q-btn-next` data-next-id="1")
                i
                    +icon('arr-right')
                span

mixin simpleFormField($class, $label, $type, $name, $error_message)
    div(class=`${$class}__wrap-input`)
        - if($type == 'textarea')
            textarea(name=`${$name}` class=`${$class}__textarea`)
        - else
            input(type=`${$type}` name=`${$name}` required class=`${$class}__input`)
        label(class=`${$class}__input-label`)= $label
        span(class=`${$class}__input-error`)= $error_message

mixin icon(name,mod)
    - mod = mod || '';
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="img/sprinte/sprite.svg#" + name)
