-
    const mainVar = {
        path: {
            css: 'css/',
            js: 'js/',
            img: 'img/'
        }
    };


//- Images main path
- const imgPath = `${mainVar.path.img}`;
-
    const mainText = {
        title: 'Opklopper',
        menu: [
          {
            link: 'https://opklopper.nl/',
            name: 'Home'
          },
          {
            link: '#over-ons',
            name: 'Over Ons'
          },
          {
            link: '#services',
            name: 'Services'
          },
          {
            link: '#portfolio',
            name: 'Portfolio'
          },
          {
            link: '#contact',
            name: 'Contact'
          },
        ],
        home_page: {
          header: {
            title: 'Maakt meer<br>van jouw marketingmix',
            subtitle: 'En vindt jouw nieuwe klanten',
          },
          about: {
            ill: `${imgPath}header-img.png`,
            title: 'Dit is Opklopper.',
            text: 'Opklopper is een bureau dat jou helpt klanten te vinden en beter te communiceren zonder dat je daar de hoofdprijs voor betaalt.<br>Wij zijn een team van bevlogen specialisten dat ondernemers met ambitie een warm hart toedraagt. Met alle begrip voor jouw doelen, beperkte tijd en middelen halen wij het onderste uit de kan om samen beslag te leggen op jouw markt.',
            btn: 'Dit smaakt naar meer',
          },
          advantages: {
            title: 'Ornare in lacinia mauris hendrerit',
            titleText: 'Integer ultricies amet pellentesque urna, amet. Iaculis lectus ultrices ut gravida odio viverra amet. Viverra donec tristique dolor pellentesque quam tristique ac sapien. Risus scelerisque.',
            items: [
              {
                icon: 'betaalbare',
                title: 'Betaalbare prijzen',
                text: 'Orci mauris adipiscing ut penatibus justo. Et, ac eu tellus gravida. Eu ultricies vehicula feugiat arcu turpis in purus mauris nunc. Placerat praesent venenatis.',
              },
              {
                icon: 'geep',
                title: 'Geen contracten',
                text: 'Odio ut pellentesque feugiat malesuada. Enim massa nunc lectus tristique in tempus vel iaculis enim. Augue pellentesque consequat id ullamcorper.',
              },
              {
                icon: 'flexibele',
                title: 'Flexibele werkuren',
                text: 'Vulputate id pretium eget ipsum. Enim facilisis luctus accumsan viverra. Eget ultrices sed velit sit. Nec eu aliquet augue duis feugiat tempor vel at. Pretium fusce.'
              }
            ]
          },
          services: {
            title: 'Voortaan heb jij beschikking tot alle middelen',
            subtitle: 'Wij geloven dat alle ondernemers beschikking moeten krijgen tot de middelen die doorgaans alleen beschikbaar zijn voor grotere bedrijven. Met Opklopper krijg je toegang tot al deze middelen en zetten we ze in om jouw nieuwe klanten te vinden en te verleiden.',
            items: {
              'websites': {
                name: 'Websites',
                text: 'Wij geloven dat alle ondernemers beschikking moeten krijgen tot de middelen die doorgaans alleen beschikbaar zijn voor grotere bedrijven. Met Opklopper krijg je toegang tot al deze middelen en zetten we ze in om jouw nieuwe klanten te vinden en te verleiden.'
              },
              'content': {
                name: 'Content',
                text: 'Wij creëren unieke content. Van copy tot posts, van flyers tot comicbooks. Tussen de hoeveelheid aan informatie waarmee je dagelijks overspoelt wordt, zorgen wij dat jouw content uniek is en opvalt.'
              },
              'strategie': {
                name: 'Strategie',
                text: 'Uit welke ingrediënten bestaat jouw marketingmix? Wij denken met je mee en helpen je de juiste keuzes te maken zodat je op de beste manier het juiste publiek bereikt.'
              },
              'adverteren': {
                name: 'Adverteren',
                text: 'Jouw toekomstige klant is naar jou op zoek maar kan jou nog niet vinden. Adverteren is de uitkomst. Opklopper zorgt voor de juiste boodschap, op de juiste plek en het juiste moment.'
              },
            }
          },
          king: {
            title: 'Meet Opklopper King - Simon Albers!',
            photo: `${imgPath}king-photo.png`,
            text: 'The story of Simon — His birth, ministry on Earth, crucifixion, resurrection and ascension. Explanation of how the reader can trust Simon Albers as his Savior and King.<br>Laat je telefoonnummer achter, Simon belt je binnen 24 uur terug.',
            input: 'Je telefoonnummer',
            btn: 'Bel Me Terug'
          },
          projects: {
            title: 'Take a look at <br> our branded cookbook',
            subtitle: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit platea id sed vulputate placerat in eget phasellus aliquet. Malesuada nullam praesent erat id orci dolor a. Feugiat ipsum, tortor, nisi, dictum massa. Egestas a lacus quam scelerisque tortor. Sit pulvinar vulputate.',
            items: [
              {
                id: 0,
                name: 'Cultuur +<br>Ondernemen',
                text: 'Rhoncus tellus sit nibh pellentesque aliquet. Amet lorem a vivamus nulla sit et id pharetra. Ultricies turpis netus ultrices amet consequat. Phasellus commodo viverra cras nam.',
                img: `${imgPath}cases/case-1.jpg`,
                img_full: `${imgPath}cases/case-full.jpg`,
                link: '#1'
              },
              {
                id: 1,
                name: 'Fonds<br>Cultuur+Financiering',
                text: 'Rhoncus tellus sit nibh pellentesque aliquet. Amet lorem a vivamus nulla sit et id pharetra. Ultricies turpis netus ultrices amet consequat. Phasellus commodo viverra cras nam.',
                img: `${imgPath}cases/case-2.jpg`,
                img_full: `${imgPath}cases/case-full.jpg`,
                link: '#'
              },
              {
                id: 2,
                name: 'Alexander<br>Koning',
                text: 'Rhoncus tellus sit nibh pellentesque aliquet. Amet lorem a vivamus nulla sit et id pharetra. Ultricies turpis netus ultrices amet consequat. Phasellus commodo viverra cras nam.',
                img: `${imgPath}cases/case-3.jpg`,
                img_full: `${imgPath}cases/case-full.jpg`,
                link: '#'
              },
              {
                id: 2,
                name: 'Alexander<br>Koning',
                text: 'Rhoncus tellus sit nibh pellentesque aliquet. Amet lorem a vivamus nulla sit et id pharetra. Ultricies turpis netus ultrices amet consequat. Phasellus commodo viverra cras nam.',
                img: `${imgPath}cases/case-4.jpg`,
                img_full: `${imgPath}cases/case-full.jpg`,
                link: '#'
              },
            ]
          },
          questions: {
            title: 'Save your time getting a rough estimation',
            subtitle: 'Vitae sodales nisl nibh nisl varius. Facilisi tellus facilisis suspendisse eu, pellentesque ornare amet diam. Eu mauris molestie sapien nec, fermentum ridiculus dictum. Donec nunc dictum ultricies euismod faucibus.',
            items: [
              {
                id: 0,
                type: 'checkbox',
                title: '01. Wat wil jij nu met jouw bedrijf bereiken?',
                checkboxes: [
                  'Meer online verkoop',
                  'Meer bezoekers in mijn winkel 01',
                  'Hogere omzet per klant 01',
                  'Meer terugkerende klanten 01',
                ]
              },
              {
                id: 1,
                type: 'checkbox',
                title: '02. Heb je tijd om de marketing van jouw bedrijf op te pakken?',
                checkboxes: [
                  'Ik heb hier eigenlijk geen tijd voor',
                  'Ik heb een paar uur per week beschikbaar',
                  'Ongeveer 10 uur per week',
                  'We hebben een marketingmedewerker tot onze beschikking',
                ]
              },
              {
                id: 2,
                type: 'checkbox',
                title: '03. En wat kun je ongeveer uitgeven aan de marketing van jouw bedrijf?',
                checkboxes: [
                  'Eigenlijk bijna niets',
                  'Tussen de 100 en 500 euro per maand',
                  'Tussen de 500 en 2500 euro per maand',
                  'Zolang het klanten en omzet oplevert is het budget ongelimiteerd',
                ]
              },
              {
                id: 3,
                type: 'text',
                title: '04. Wat is de link van je website?',
                input: 'https://',
              },
              {
                id: 4,
                type: 'text',
                title: '05. Naar welk e-mailadres mag Opklopper het advies over jouw marketingmix sturen?',
                input: 'email',
              },
              {
                id: 5,
                type: 'thanks',
                title: 'Thank you for contacting us!',
                text: 'You are very important to us, all information received will always remain confidential. We will contact you as soon as we review your message.',
                btn: 'Dicht',
              }
            ]
          },
          way: {
            title: 'Wij gaan voor <br> het resultaat',
            subtitle: 'Of dat nou doordeweeks, \'s avonds, in het weekend of op feestdagen is, wij staan altijd voor je klaar. Binnen vier stappen kunnen we aan de slag.',
            items: [
              {
                number: 01,
                icon: 'overleg',
                title: 'Overleg',
                text: 'We spreken elkaar via Skype, Facetime of gewoon via de telefoon om jouw huidige en gewenste situatie te kunnen bepalen.'
              },
              {
                number: 02,
                icon: 'plan',
                title: 'Plan',
                text: 'We stellen samen een plan<br>op zodat de doelstellingen en verwachtingen duidelijk zijn.'
              },
              {
                number: 03,
                icon: 'kies',
                title: 'Kies',
                text: 'We zoeken een passend<br>pakket of stellen zelf iets samen.'
              },
              {
                number: 04,
                icon: 'start',
                title: 'Start',
                text: 'We hopen dat je met ons<br>in zee gaat, het is aan jou!'
              }
            ],
          },
          review: {
            title: 'Pas wanneer onze klanten blij zijn, zijn wij dat ook',
            items: [
              {
                id: 0,
                img: `${imgPath}feedback-photo.jpg`,
                name: 'Joanna Doe',
                position: 'Oprichter Mystic Meeting',
                text: 'Interdum sed aliquet magna fames dui et aliquet amet. Feugiat vivamus at consequat sit morbi semper laoreet massa dui. Vulputate sed consequat donec facilisis. Vehicula id consectetur maecenas aliquam ac orci, consequat, tincidunt. At fusce massa molestie ut vitae cursus tincidunt velit blandit. Cras quis sit eu nibh sed risus lobortis. Aliquet nisi, ac tellus odio magna quam felis in ullamcorper. Cras diam duis dignissim tellus at in cras hendrerit dui. Orci amet ornare malesuada dui turpis luctus habitant hendrerit amet. Faucibus ornare sed scelerisque tincidunt. Faucibus ornare sed scelerisque tincidunt. Faucibus ornare sed scelerisque tincidunt.'
              },
              {
                id: 1,
                img: `${imgPath}feedback-photo.jpg`,
                name: 'Joanna Doe 01',
                position: 'Oprichter Mystic Meeting',
                text: 'Interdum sed aliquet magna fames dui et aliquet amet. Feugiat vivamus at consequat sit morbi semper laoreet massa dui. Vulputate sed consequat donec facilisis. Vehicula id consectetur maecenas aliquam ac orci, consequat, tincidunt. At fusce massa molestie ut vitae cursus tincidunt velit blandit. Cras quis sit eu nibh sed risus lobortis. Aliquet nisi, ac tellus odio magna quam felis in ullamcorper. Cras diam duis dignissim tellus at in cras hendrerit dui. Orci amet ornare malesuada dui turpis luctus habitant hendrerit amet. Faucibus ornare sed scelerisque tincidunt.'
              },
              {
                id: 2,
                img: `${imgPath}feedback-photo.jpg`,
                name: 'Joanna Doe 02',
                position: 'Oprichter Mystic Meeting',
                text: 'Interdum sed aliquet magna fames dui et aliquet amet. Feugiat vivamus at consequat sit morbi semper laoreet massa dui. Vulputate sed consequat donec facilisis. Vehicula id consectetur maecenas aliquam ac orci, consequat, tincidunt. At fusce massa molestie ut vitae cursus tincidunt velit blandit. Cras quis sit eu nibh sed risus lobortis. Aliquet nisi, ac tellus odio magna quam felis in ullamcorper. Cras diam duis dignissim tellus at in cras hendrerit dui. Orci amet ornare malesuada dui turpis luctus habitant hendrerit amet. Faucibus ornare sed scelerisque tincidunt.'
              },
              {
                id: 3,
                img: `${imgPath}feedback-photo.jpg`,
                name: 'Joanna Doe 03',
                position: 'Oprichter Mystic Meeting',
                text: 'Interdum sed aliquet magna fames dui et aliquet amet. Feugiat vivamus at consequat sit morbi semper laoreet massa dui. Vulputate sed consequat donec facilisis. Vehicula id consectetur maecenas aliquam ac orci, consequat, tincidunt. At fusce massa molestie ut vitae cursus tincidunt velit blandit. Cras quis sit eu nibh sed risus lobortis. Aliquet nisi, ac tellus odio magna quam felis in ullamcorper. Cras diam duis dignissim tellus at in cras hendrerit dui. Orci amet ornare malesuada dui turpis luctus habitant hendrerit amet. Faucibus ornare sed scelerisque tincidunt.'
              },
              {
                id: 4,
                img: `${imgPath}feedback-photo.jpg`,
                name: 'Joanna Doe 04',
                position: 'Oprichter Mystic Meeting',
                text: 'Interdum sed aliquet magna fames dui et aliquet amet. Feugiat vivamus at consequat sit morbi semper laoreet massa dui. Vulputate sed consequat donec facilisis. Vehicula id consectetur maecenas aliquam ac orci, consequat, tincidunt. At fusce massa molestie ut vitae cursus tincidunt velit blandit. Cras quis sit eu nibh sed risus lobortis. Aliquet nisi, ac tellus odio magna quam felis in ullamcorper. Cras diam duis dignissim tellus at in cras hendrerit dui. Orci amet ornare malesuada dui turpis luctus habitant hendrerit amet. Faucibus ornare sed scelerisque tincidunt.'
              },
              {
                id: 5,
                img: `${imgPath}feedback-photo.jpg`,
                name: 'Joanna Doe 04',
                position: 'Oprichter Mystic Meeting',
                text: 'Interdum sed aliquet magna fames dui et aliquet amet. Feugiat vivamus at consequat sit morbi semper laoreet massa dui. Vulputate sed consequat donec facilisis. Vehicula id consectetur maecenas aliquam ac orci, consequat, tincidunt. At fusce massa molestie ut vitae cursus tincidunt velit blandit. Cras quis sit eu nibh sed risus lobortis. Aliquet nisi, ac tellus odio magna quam felis in ullamcorper. Cras diam duis dignissim tellus at in cras hendrerit dui. Orci amet ornare malesuada dui turpis luctus habitant hendrerit amet. Faucibus ornare sed scelerisque tincidunt.'
              },
              {
                id: 6,
                img: `${imgPath}feedback-photo.jpg`,
                name: 'Joanna Doe 04',
                position: 'Oprichter Mystic Meeting',
                text: 'Interdum sed aliquet magna fames dui et aliquet amet. Feugiat vivamus at consequat sit morbi semper laoreet massa dui. Vulputate sed consequat donec facilisis. Vehicula id consectetur maecenas aliquam ac orci, consequat, tincidunt. At fusce massa molestie ut vitae cursus tincidunt velit blandit. Cras quis sit eu nibh sed risus lobortis. Aliquet nisi, ac tellus odio magna quam felis in ullamcorper. Cras diam duis dignissim tellus at in cras hendrerit dui. Orci amet ornare malesuada dui turpis luctus habitant hendrerit amet. Faucibus ornare sed scelerisque tincidunt.'
              },
            ]
          },
          company: {
            title: 'We zijn experts met jaren ervaring',
            subtitle: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In facilisis in tempus aliquet molestie rhoncus. Semper at dignissim magna aliquet aliquam viverra.',
            items: [
              [
                'google',
                'fb',
                'bing',
                'twitter',
                'insta',
                'snapchat',
              ],
              [
                'linkedin',
                'mail-clip',
                'mandrill',
                'mailgun',
                'google-adsense',
              ],
              [
                'adobe',
                'js',
                'css',
                'html',
                'angular',
                'python',
              ],
              [
                'laravel',
                'shopify',
                'drupal',
                'wp',
                'jquery',
                'php',
              ],
            ]
          },
          contact: {
            title: 'Contact',
            text: 'Tegenwoordig zijn wij allemaal overal online en dus is een reactietijd van meer dan een dag wat ons betreft belachelijk. Wij garanderen altijd een reactie binnen een etmaal, ook op weekenddagen.<br>Ps. Lukt het ons niet? Dan doneren we 25 euro aan een goed doel naar keuze!',
            kingPerson: {
              name: 'Simon Albers',
              position: 'Oprichter',
              contacts: [
                {
                  icon: 'mail',
                  text: 'simon@opklopper.nl',
                },
                {
                  icon: 'link-in',
                  text: 'simonalbers',
                }
              ]
            },
            form: {
              title: 'Laat je gegevens achter',
              fields: [
                {
                  label: 'Jouw naam',
                  type: 'text',
                  error_message: 'Error: Name can\'t be empty',
                },
                {
                  label: 'Je telefoon',
                  type: 'tel',
                  error_message: 'Error: phone number is not valid'
                },
                {
                  label: 'Je e-mailadres',
                  type: 'email',
                  error_message: 'Error: email is not valid',
                },
                {
                  label: 'Jouw Bericht',
                  type: 'textarea',
                }
              ],
              btn: {
                default: 'Verzenden',
                loading: 'Verzending...',
                sucssess: 'Gedaan!',
              },
              thank_you: {
                title: 'Thank you<br>for contacting us!',
                text: 'You are very important to us, all information received will always remain confidential. We will contact you as soon as we review your message.',
                btn: 'Dicht'
              }
            }
          }
        }
    }


- const menu = mainText.menu;
- const homeHeader = mainText.home_page.header;
- const homeAbout = mainText.home_page.about;
- const homeAdvantages = mainText.home_page.advantages;
- const homeServices = mainText.home_page.services;
- const homeKingSection = mainText.home_page.king;
- const homeQuestions = mainText.home_page.questions;
- const homeWay = mainText.home_page.way;
- const homeReview = mainText.home_page.review;
- const homeCompany = mainText.home_page.company;
- const homeContact = mainText.home_page.contact;
- const homeProjects = mainText.home_page.projects;

-
    const links =  {
        menuLink: [
            'expertise.html',
            'people.html',
            'insights.html',
            'contacts.html'
        ]
    }
