@include bp(766px) {
  %small-title {
    @include setFontStyle(30, 39);
  }
  // ==> Header
  .header {
    &-sect {
      padding-top: 293px;
    }
    &__title {
      @extend %h1-small;
    }
    &__text {
      margin-left: 0;
      text-align: left;
    }
  }

  // ==> About
  .about {
    &__wrap {
      &_left {
        display: none;
      }
      &_right {
        padding-left: 0;
        padding-top: rem(228);
      }
    }
  }

  // ==> Advantage section
  .adv {
    &-sect {
      padding-top: 180px;
    }
    &__title {
      min-width: 100%;
    }
    &__items {
      flex-direction: column;
    }
    &__itm {
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 54px;
      &:last-child {
        margin-bottom: 0;
      }
      &-title {
        @extend %small-title;
      }
    }
  }

  // ==> Service section
  .service {
    &__wrap {
      &_bot {
        padding-top: 78px;
      }
    }
    &__title {
      max-width: 100%;
      min-width: 100%;
    }
    //&__itm-btn {
    //  top: -6px;
    //  right: -6px;
    //  width: 54px;
    //  height: 54px;
    //}
    //&__itm-title {
    //  @extend %small-title;
    //}
    //&__item {
    //  border-width: 6px;
    //  width: 100%;
    //  height: auto;
    //  padding: 27px 5px 27px 25px;
    //  margin-bottom: 35px;
    //  .icon {
    //    &.icon-website {
    //      width: 63px;
    //      height: 59px;
    //    }
    //    &.icon-strategie {
    //      width: 64px;
    //      height: 67px;
    //    }
    //    &.icon-content {
    //      width: 63px;
    //      height: 69px;
    //    }
    //    &.icon-adverteren {
    //      width: 63px;
    //      height: 58px;
    //    }
    //  }
    //  &_website {
    //
    //  }
    //  &_strategie {
    //    margin-top: 0;
    //    padding: 20px 20px 27px 25px;
    //  }
    //  &_content {
    //    margin-top: 0;
    //    .service {
    //      &__content {
    //        padding-right: 19px;
    //      }
    //    }
    //  }
    //  &_adverteren {
    //    margin-top: 0;
    //    margin-bottom: 0;
    //    .service {
    //      &__content {
    //        padding-right: 8px;
    //      }
    //    }
    //  }
    //}
  }

  // ==> King section
  .king {
    &__wrap {
      &_top {
        margin-bottom: 79px;
      }
      &_bot {
        height: auto;
      }
    }
    &__card {
      flex-direction: column;
      border-width: 6px;
      .bg-effect {
        display: none;
      }
    }
    &__wrap-img {
      width: 100%;
      height: 100%;
      margin: 0;
      border: none;
      border-bottom: 6px solid $black;
    }
    &__content {
      padding: 25px 26px 32px 25px;
    }
    &__text {
      font-size: rem(24);
      line-height: rem(31);
    }
    &__form {
      position: relative;
      width: 100%;
      left: 0;
      flex-direction: column;
      margin-top: 65px;
    }
    &__wrap-input {
      width: 100%;
      margin-bottom: 15px;
      input {
        width: 100%;
      }
    }
    &__btn {
      width: 100%;
      height: 59px;
    }
  }

  // ==> Projects section
  .projects {
    &-sect {
      padding-top: rem(170);
    }
    &__wrap {
      &__slider {
        min-height: 461px;
      }
    }
    &__title {
      font-size: rem(42);
      line-height: rem(46);
      min-width: 100%;
      br {
        display: none;
      }
    }
    &__subtitle {
      font-size: rem(24);
      line-height: rem(31);
    }
    &__slide-btns {
      display: none;
    }
    &__slider-img {
      width: 387px;
      top: 62px;
      right: -33px;
    }
    &__slide {
      display: flex;
      min-height: 461px;
      opacity: 1;
      position: relative;
    }
    &__wrapper {
      position: relative;
      z-index: 2;
      margin-bottom: 0;
    }
    &__btn {
      &-projecs-all {
        display: none;
      }
    }
  }

  // ==> Questions section
  .questions {
    .bg-effect {
      display: none;
    }
    &-sect {
      padding-top: 382px;
    }
    &__wrap {
      &_top {
        margin-bottom: 80px;
      }
    }
    &__title {
      min-width: 100%;
      padding-right: 2px;
    }
    &__checkboxes {
      padding-right: 0;
      padding-bottom: 120px;
    }
    &__item {
      padding: 24px 14px 0px 24px;
      border-width: 6px;
      &_thanks {
        padding: 15px 13px 30px 14px;
      }
      //min-height: 534px;
    }
    &__thanks-title {
      text-align: center;
    }
    &__itm-text {
      padding: 0px 0px 0px 29px;
      font-size: rem(21);
    }

    &__btns {
      display: flex;
      align-items: flex-end;
      right: 33px;
      bottom: 25px;
    }
    &__number {
      margin-bottom: 0;
      margin-right: 30px;
      span {
        font-size: rem(16);
        line-height: rem(14);
      }
    }
  }

  // ==> Way section
  .way {
    &-sect {
      margin-top: 179px;
      .way-bg-svg {
        &.mob {
          display: none;
        }
      }
      .container-bot {
        max-width: 100%;
      }
    }
    &__wrap {
      &_top {
        margin-bottom: 80px;
      }
      //&_overleg,
      //&_plan,
      //&_kies,
      //&_start {}
      &_overleg {
        border-left: 4px solid $black;
        padding-left: 11px;
        margin-bottom: 49px;
      }
      &_plan {
        border-right: 4px solid $black;
        padding-right: 11px;
        margin-bottom: 49px;
      }
      &_kies {
        border-left: 4px solid $black;
        padding-left: 11px;
        margin-bottom: 49px;
      }
      &_start {
        border-right: 4px solid $black;
        padding-right: 11px;
      }
    }
  }

  // ==> Review section
  .review {
    &-sect {
      padding-top: 324px;
      .bg-effect {
        display: none;
      }
    }
    &__wrap {
      &_top {
        margin-bottom: 80px;
      }
    }
    &__quote-img {
      display: none;
    }
    &__itm-user {
      margin-top: 0;
      flex-direction: column;
    }
    &__wrap-photo {
      border-width: 6px;
      width: 230px;
      height: 230px;
      margin: 0 auto;
    }
    &__user-content {
      padding: 20px 0px 0px 0px;
    }
    &__item {
      padding: 24px 24px 0px 24px;
      min-height: 870px;
    }
    &__content {
      max-width: 100%;
      margin-top: 35px;
      height: 323px;
    }
    &__btns {
      display: flex;
      align-items: flex-end;
      right: 29px;
      bottom: 35px;
      max-width: 232px;
    }
    &__number {
      margin-bottom: 0;
      margin-right: 30px;
      span {
        font-size: rem(16);
        line-height: rem(14);
      }
    }
  }

  // ==> Contact Section
  .contact {
    &-sect {
      padding-top: 170px;
    }
    &__wrap {
      &_left {
        margin-bottom: 73px;
      }
      &_right {
        max-width: 100%;
        .bg-effect {
          display: none;
        }
      }
    }
    &__form {
      width: 100%;
      padding: 24px 14px 0px 19px;
      &-default {
        padding: 0 14px 0px 0px;
      }
    }
    &__form-title {
      margin-bottom: 36px;
    }
    &__btn {
      width: 230px;
    }
  }

  // ==> Blob Settings
  .service-sec .svg-sect {
    right: -560px;
  }
  .adv-sect .svg-sect {
    left: -560px;
  }
  .about-sect .svg-sect {
    right: -560px;
  }
  .header-sect .svg-sect {
      left: -540px;
      top: -280px;
  }
}
