@include bp(1105px) {
  %h1-mob {
    font-size: rem(60);
    line-height: rem(63);
  }
  %h2-mob {
    font-size: rem(42);
    line-height: rem(46);
  }
  // ==> Header
  .header {
    &__title {
      @extend %h1-mob;
    }
    &__text {
      padding-right: 0;
      margin-top: rem(28);
    }
  }
  // ==> About
  .about {
    &__wrap {
      &_left {
        width: 339px;
        height: 697px;
        margin-left: rem(-61);
        margin-top: rem(48);
      }
      &_right {
        padding-top: rem(224);
        padding-left: rem(30);
      }
    }
    &__title {
      @extend %h2-mob;
    }
  }

  // ==> Advantages section
  .adv {
    &-sect {
      padding-top: rem(166);
    }
    &__wrap {
      &_top {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      &_bot {
        padding-top: rem(80);
      }
    }
    &__title {
      @extend %h2-mob;
      margin-bottom: rem(20);
    }
    &__text {
      padding-left: 0;
    }
    &__itm {
      max-width: rem(216);
      &:first-child {
        .adv__itm {
          &-text {
            padding-right: 0;
          }
        }
      }
    }
  }

  // ==> Service section
  .service {
    &-sec {
      padding-top: rem(171);
    }
    &__wrap {
      &_top {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      &_bot {
        padding-top: rem(81);
      }
    }
    &__title {
      @extend %h2-mob;
      margin-bottom: rem(20);
    }
    &__subtitle {
      padding-left: 0;
    }
    //&__items {
    //  flex-wrap: wrap;
    //  &_middle {
    //    display: none;
    //  }
    //}
    //&__item {
    //  width: rem(400);
    //  height: rem(400);
    //
    //  .icon {
    //    &.icon-website {
    //      width: 89px;
    //      height: 83px;
    //    }
    //    &.icon-strategie {
    //      width: 87px;
    //      height: 90px;
    //    }
    //    &.icon-content {
    //      width: 87px;
    //      height: 88px;
    //    }
    //    &.icon-adverteren {
    //      width: 88px;
    //      height: 82px;
    //    }
    //  }
    //  &:after,
    //  &:before{
    //    display: none;
    //  }
    //  &_website {
    //    .service__content {
    //      padding-right: rem(20);
    //    }
    //  }
    //  &_strategie {
    //    margin-left: auto;
    //    margin-top: rem(-91);
    //    z-index: 2;
    //  }
    //  &_content {
    //    margin-top: rem(-82);
    //    z-index: 2;
    //  }
    //  &_adverteren {
    //    margin-left: auto;
    //    margin-top: -97px;
    //    z-index: 2;
    //  }
    //}
  }

  // ==> King section
  .king {
    &-sect {
      padding-top: rem(170);
    }
    &__wrap {
      &_top {
        margin-bottom: 64px;
      }
      &_bot {
        height: 386px;
      }
    }
    &__card {
      height: 100%;
    }
    &__wrap-img {
      width: rem(189);
      height: rem(189);
      border: 10px solid $black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      margin-left: 30px;
    }
    &__title {
      @extend %h2-mob;
      max-width: rem(500);
    }
    &__text {
      font-family: 'Gilroy-Medium', sans-serif;
      font-size: rem(21);
      line-height: rem(27);
    }
    &__content {
      max-width: 461px;
      padding: 40px 20px 0 9px;
    }
    &__form {
      position: absolute;
      width: 618px;
      left: 40px;
      margin-top: 32px;
      padding: 0;
    }
    &__wrap-input {
      input {
        width: 333px;
      }
    }
    &__btn {
      width: 278px;
    }
  }

  // ==> Projects section
  .projects {
    &-sect {
      padding-top: rem(190);
    }
    &__wrap {
      &_title {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      &_slider {
        margin-top: 20px;
      }
    }
    &__title {
      @extend %h2-mob;
      margin-bottom: rem(20);
    }
    &__subtitle {
      padding: 0;
    }
    &__slider {
      &-img {
        width: 580px;
        top: 74px;
        right: -64px;
      }
    }
  }

  // ==> questions
  .questions {
    &-sect {
      padding-top: 92px;
    }
    &__wrap {
      &_top {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 94px;
      }

    }
    &__title {
      @extend %h2-mob;
      margin-bottom: rem(20);
      max-width: 500px;
    }
    &__subtitle {
      padding: 0;
    }
    &__item {
      padding-left: 30px;
      &_thanks {
        padding-left: 0;
      }
      &-title {
        max-width: 540px;
      }
    }
    &__checkboxes {
      padding-right: 200px;
    }
    &__input-itm {
      width: 100%;
    }
    &__btns {
      right: 40px;
      bottom: 47px;
    }
    &__arr {
      &_left {
        margin-right: 20px;
      }
    }
  }

  // ==> Way section
  .way {
    &-sect {
      margin-top: 192px;
      .way-bg-svg {
        &.desc {
          display: none;
        }
        &.mob {
          display: block;
          left: 50%;
          margin-left: -385px;
        }
      }
    }
    &__wrap {
      &_top {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 88px;
      }
      &_overleg {
        padding-left: 63px;
        margin-bottom: 199px;
      }
      &_plan {
        padding-right: 61px;
        margin-bottom: 108px;
      }
      &_kies {
        padding-left: 62px;
        margin-bottom: 110px;
      }
      &_start {
        padding-right: 62px;
      }
    }
    &__title {
      @extend %h2-mob;
      margin-bottom: rem(20);
      min-width: auto;
      br {
        display: none;
      }
      //max-width: 500px;
    }
    &__subtitle {
      padding: 0;
    }
  }

  // ==> Review section
  .review {
    &-sect {
      padding-top: 349px;
    }
    &__wrap {
      &_top {
        margin-bottom: 124px;
      }
      &-photo {
        width: 199px;
        height: 199px;
      }
    }
    &__user-content {
      padding: 108px 0px 0px 30px;
    }
    &__quote-img {
      right: 29px;
      top: -69px;
    }
    &__title {
      @extend %h2-mob;
    }
    &__content {
      max-width: 630px;
      height: 270px;
      margin-top: 19px;
    }
    &__item {
      min-height: 600px;
    }
    &__btns {
      width: 100%;
      max-width: 628px;
      bottom: 49px;
      right: 39px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    &__number {
      margin-bottom: 0;
    }
    &__arr {
      &_left {
        margin-right: 21px;
      }
    }
  }

  // ==> Companys section
  .company-sect {
    display: none;
  }

  // ==> Contact Section
  .contact {
    flex-direction: column;
    &-sect {
      padding-top: 148px;
    }
    &__wrap {
      &_left {
        max-width: 100%;
      }
      &_right {
        max-width: 660px;
        margin: 0 auto;
      }
    }
    &__title {
      @extend %h2-mob;
      margin-bottom: 20px;
    }
    &__text {
      padding: 0;
    }
    &__king {
      margin-bottom: 50px;
    }
    &__form-default {
      padding: 55px 40px 0px 0px;
    }
  }
}
