nav.navigation
  .container
    .nav
      a(href="index.html").nav__logo
        img(src=`${imgPath}logo.svg`, alt="Logotype")
      ul.nav__menu
        .nav__menu-close.menu-close
          div
            span
            span
        - for(let itm of menu)
            li.nav__menu-item
              a(href=`${itm.link}`).nav__menu-item-link.menu-link.anchor
                span= itm.name
      .burger.menu-btn
        button.burger__btn
          span
          span
          span

