script(src="https://two.js.org/third-party/two.js")
script(src="https://two.js.org/third-party/physics.js")
script(src=`${mainVar.path.js}svg4everybody.min.js`)
script(src=`${mainVar.path.js}main.js`)