@include bp(766px) {
  %h1-small {
    font-size: rem(44);
    line-height: rem(46);
  }
  .navigation {
    padding-top: 21px;
  }
  .nav {
    align-items: center;
    //&__menu {
    //  display: none;
    //}
  }
  .burger {
    position: relative;
    z-index: 10;
    width: 30px;
    height: 20px;
    margin-left: auto;
    display: block;
    &__btn {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      transition: all .5s ease;
      pointer-events: none;
      span {
        display: block;
        width: 23px;
        height: 2px;
        border-radius: 7px;
        background-color: $black;
        transition: all .5s ease;
        &:first-child {
          position: absolute;
          top: 0;
          left: 0px;
        }
        &:last-child {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      &.active {
        span {
          background-color: $black;
          &:first-child {
            top: 8px;
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            height: 0;
          }
          &:last-child {
            bottom: 10px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
